@model Didache.User

@{
	ViewBag.Title = "EditUser";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

	@Html.HiddenFor(m => m.UserID)

<div class="page-wide">
	<div class="full-column">
		
		<div class="page-header">
			<h2>Edit User</h2>
			<div class="actions">
				 <input type="submit" value="Save" class="d-button action" />
				
				 <input type="button" value="Make Private" class="d-button" id="make-private-button" />
			</div>
		</div>

		<p><a href="/tools/loginas.aspx?username=@Model.Username">Login as @Model.SecureFormattedName</a></p>
	
		<table class="admin-table">
			<tbody>
				<tr>
					<th>ID</th>
					<td>@Model.UserID</td>
				</tr>
				<tr>
					<th>@Html.LabelFor(m => m.AliasFirstName)</th>
					<td>@Html.EditorFor(m => m.AliasFirstName)</td>
				</tr>
				<tr>
					<th>@Html.LabelFor(m => m.AliasLastName)</th>
					<td>@Html.EditorFor(m => m.AliasLastName)</td>
				</tr>
				<tr>
					<th>Nick</th>
					<td>@Model.NickName</td>
				</tr>
				<tr>
					<th>First</th>
					<td>@Model.FirstName</td>
				</tr>
				<tr>
					<th>Middle</th>
					<td>@Model.MiddleName</td>
				</tr>
				<tr>
					<th>Last</th>
					<td>@Model.LastName</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>@Model.Email</td>
				</tr>
				<tr>
					<th>Username</th>
					<td>@Model.Username</td>
				</tr>

				<tr>
					<th>Allow Friend Requests</th>
					<td>@Html.EditorFor(model => model.AllowClassmateRequests)</td>
				</tr>

				<tr>
					<th>Address</th>
					<td>
						@Html.EditorFor(model => model.AddressSecuritySetting, "SecuritySetting", "AddressSecurity")
					</td>
				</tr>
				<tr>
					<th>Biography</th>
					<td>
						@Html.EditorFor(model => model.BiographySecuritySetting, "SecuritySetting", "BiographySecurity")
					</td>
				</tr>
				<tr>
					<th>Birthdate</th>
					<td>
						@Html.EditorFor(model => model.BirthdateSecuritySetting, "SecuritySetting", "BirthdateSecurity")
					</td>
				</tr>
				<tr>
					<th>Children</th>
					<td>
						@Html.EditorFor(model => model.ChildrenSecuritySetting, "SecuritySetting", "ChildrenSecurity")
					</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>
						@Html.EditorFor(model => model.EmailSecuritySetting, "SecuritySetting", "EmailSecurity")
					</td>
				</tr>
				<tr>
					<th>Phone</th>
					<td>
						@Html.EditorFor(model => model.PhoneSecuritySetting, "SecuritySetting", "PhoneSecurity")
					</td>
				</tr>
				<tr>
					<th>Schedule</th>
					<td>
						@Html.EditorFor(model => model.ScheduleSecuritySetting, "SecuritySetting", "ScheduleSecurity")
					</td>
				</tr>
				<tr>
					<th>Spouse</th>
					<td>
						@Html.EditorFor(model => model.ScheduleSecuritySetting, "SecuritySetting", "SpouseSecurity")
					</td>
				</tr>	
		
	
				<tr>
					<th>Picture</th>
					<td>
						@Html.EditorFor(model => model.PictureSecuritySetting, "SecuritySetting", "PictureSecurity")
						<br />
						<img src="@Model.ProfileImageUrl" />
					
					</td>
				</tr>
				<tr>
					<th>Roles</th>
					<td>
						@foreach (string role in ViewBag.AllRoles) {
							<input type="checkbox" name="roles" value="@role" id="role-@role" @(ViewBag.UsersRoles.Contains(role) ? " checked" : "")	 /><label for="role-@role">@role</label><br />					
						}		
					</td>
				</tr>
				<tr>
					<th>Courses</th>
					<td>
						<table>
							@foreach (Course course in ViewBag.UsersCourses) {
							<tr>
								<td>@course.Session.SessionCode @course.Session.SessionYear</td>
								<td>@course.CourseCode @course.Section</td>
								<td><a href="@course.CourseUrl">student view</a></td>
								<td><a href="/admin/courses/courseeditor/@course.CourseID">edit tasks</a></td>
							</tr>
							}
						
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	
	 <input type="submit" value="Save" class="d-button action" />


	</div>
</div>

}

<script>
	jQuery(function ($) {
		$('#make-private-button').on('click', function () {
			var userid = $('#UserID').val();

			$.ajax({
				url: '/admin/Users/MakeUserPrivate',
				type: 'post',
				data: { userID: userid },
				success: function () {
					console.log('done');

					// reload page
					window.location.href = window.location.href;
				}
			});
		});
	});
</script>