@model List<User>

@{
    ViewBag.Title = "Index";
}

<div class="page-wide">
	<div class="page-full">
		<div class="page-header">
		
			<h2>Find Users</h2>

			<form action="/admin/users/">
				<input type="text" name="query" placeholder="name, id, etc." />
				<input type="submit" value="search" />
			</form>		




@if (Model != null && Model.Count > 0) {
	<table class="admin-list">
		<thead>
			<tr>
				<th>ID</th>
				<th>First</th>
				<th>Last</th>
				<th>Secure Name</th>
				<th>Last Activity</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach (User user in Model) {
			<tr>
				<td>@user.UserID</td>
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>@user.SecureFormattedName</td>
				<td>
					@{ MembershipUser mUser = Membership.GetUser(user.Username, false); }
					@if (mUser != null) { 
						@mUser.LastActivityDate.ToString() <a href="/tools/loginas.aspx?username=@user.Username">login as</a>

					} else {
						<text>(no login)</text>
						
					}
				</td>
				<td>
					<a href="/admin/users/edituser/@user.UserID">edit</a>
				</td>
			</tr>
  }
		</tbody>
	</table>

}

<div class="message-warning">
If you can't find a user and can't sync them in, then please visit <a href="https://www.dts.edu/admin/cars.importdata.aspx">CARS importer</a> 
and check off "Profiles" and "Students"
</div>

		
		</div>
	</div>
</div>