@model Didache.Course

@{
    ViewBag.Title = "Students: " + Model.ToString();
}

<style>
.current-facilitator h3 {
	color: #197d3f;
}
</style>
<div class="page-wide">
	

	@Html.Partial("_CourseHeader", Model)

	<div class="full-column">

		@{ 
			CourseUserGroup lastGroup = null;
			int lastGroupID = -1;
		}


		@foreach (CourseUser user in ViewBag.Users) {
			if (user.GroupID != lastGroupID) {
				if (lastGroupID != -1) {
					@Html.Raw("</table></div>")			
				}
	
				lastGroup = user.Group;
				lastGroupID = user.GroupID;
				@Html.Raw("<div" + (lastGroup != null && lastGroup.Facilitator != null && lastGroup.FacilitatorUserID == Users.GetLoggedInUser().UserID ? " class=\"current-facilitator\"" : "") + ">")
				<h3>@(lastGroup != null ? lastGroup.Name + (lastGroup.Facilitator != null ? " - " + lastGroup.Facilitator.FormattedName : " (no faciliator assigned)") : "No Group")</h3>
				@Html.Raw("<table class=\"grading-list\">")
			}
			<tr>
				<td>
					<a href="/grading/@Model.Slug/usertasks/@user.UserID">@(user.Group != null ? user.Group.Name : "(no group)") - @user.User.FormattedName</a>
				</td>
			</tr>
			
		}
		  @Html.Raw("</table>")

		
		@*
		<ul>
			@foreach (CourseUser user in ViewBag.Users) {
			<li><a href="/grading/@Model.Slug/usertasks/@user.UserID">@(user.Group != null ? user.Group.Name : "(no group)") - @user.User.FormattedName</a></li>
			}
		</ul>
		*@

	</div>
</div>
