@model List<ForumPost>


@foreach (ForumPost post in Model) {
<div class="post">
	<div class="poster">
		<a href="@post.User.ProfileDisplayUrl">
			<img src="@post.User.GetProfileImageUrl(60,60)" alt="@post.User.SecureShortName" class="post-author" />
		</a>
	</div>
	<div class="content-area">
		<div class="content">
            <div class="post-meta">					
		        <a href="@post.User.ProfileDisplayUrl">
			        <span class="name">@post.User.SecureShortName</span>
                </a>
		        <span class="date">
			        @post.PostDate
		        </span>
            </div>
            <div class="post-body">@Html.Raw(post.PostContentFormatted)</div>
		</div>
	</div>
</div>
}