@model Forum
@{
	ViewBag.Title = "Forum Threads";
}

@{Html.RenderPartial("CourseHeader"); }

@{Html.RenderPartial("CourseMenu"); }


<table class="forum-threads">
	<thead>
		<tr>
			<th width="300">Subject</th>
			<th width="600">Last Post</th>
            <th width="20">Replies</th>
		</tr>
	</thead>
	<tbody>

@foreach (Thread thread in Model.Threads) {
	<tr>
		<th><h3><a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/thread/@thread.ThreadID">@thread.Subject</a></h3><span class="date">@thread.ThreadDate</span></th>
		<td>@thread.LastPostSubject by @thread.LastPostUserName </td>
        <td class="replies">@thread.TotalReplies</td>
	</tr>
}