@model Forum
@{
	ViewBag.Title = "Forum Threads";
}

@{Html.RenderPartial("CourseHeader"); }

@{Html.RenderPartial("CourseMenu"); }

<div id="breadcrumbs"><a href="/courses/@ViewContext.RouteData.Values["slug"]/schedule">@Model.Course.Name</a> &#9654; <a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/">@Model.Course.Name Discussion</a></div>
<table class="forum-threads">
	<thead>
		<tr>
			<th width="700">Subject</th>
			<th width="200">Last Poster</th>
            <th width="20">Replies</th>
		</tr>
	</thead>
	<tbody>

@foreach (Thread thread in Model.Threads) {
	<tr>
		<th><h3><a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/thread/@thread.ThreadID">@Html.Raw(thread.Subject)</a></h3><span class="date">Posted by <a href="@thread.Posts.First().User.ProfileDisplayUrl">@(thread.Posts.First().User.NickName.IsEmpty() ? thread.Posts.First().User.FirstName : thread.Posts.First().User.NickName) @(thread.Posts.First().User.LastName.Substring(0, 1) + ".")</a> &mdash; @thread.ThreadDate.ToShortDateString() at @thread.ThreadDate.ToShortTimeString()</span></th>
		<td><span class="last-poster"><a href="@thread.Posts.Last().User.ProfileDisplayUrl">@(thread.Posts.Last().User.NickName.IsEmpty() ? thread.Posts.Last().User.FirstName : thread.Posts.Last().User.NickName) @(thread.Posts.Last().User.LastName.Substring(0, 1) + ".")</a></span> <span class="date">@thread.LastPostDate.ToShortDateString() at @thread.LastPostDate.ToShortTimeString()</span> </td>
        <td class="replies">@thread.TotalReplies</td>
	</tr>
}
</tbody>
</table>
<div class="add-post-outer"><div class="add-post">
    <form class="forum-post-new" method="post" action="/courses/@ViewContext.RouteData.Values["slug"]/discussion/createpost">
        <h2>Add a New Thread</h2>
	     <input type="hidden" id="ForumID" name="ForumID" value="@Model.ForumID" />

	     <table style="width: 100%;">
		    <tbody>
			    <tr>
				    <td>Subject</td>
				    <td>
					    <input type="text" id="Subject" size="60" name="Subject" value="" />					
				    </td>
			    </tr>
			    <tr>
				    <td>Message</td>
				    <td>
					    <textarea id="PostContent" name="PostContent" cols="60" rows="5"></textarea>
				    </td>
			    </tr>
		    </tbody>
	     </table>

	     <input type="submit" value="Submit Reply" />

    </form>
</div></div>