@model Forum
@{
	ViewBag.Title = "Forum Threads";
}

<div class="page-wide">

	@Html.Partial("_CourseHeader", Model.Course)
	@Html.Partial("_CourseMenu")

	<div class="full-column">

			<div id="breadcrumbs"><a href="/courses/@ViewContext.RouteData.Values["slug"]/schedule">@Model.Course.ToString()</a> &#9654; <a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/">@Model.Name</a></div>

			<div class="thread-link"><a href="javascript:void(0)" class="d-button action">Add Thread</a><div class="clear"></div></div>
			<div class="clear"></div>
			<div class="forum-threads">
				<!--div class="header">
					<span class="subject">Subject</span>
					<span class="name">Last Poster</span>
					<span class="replies">Replies</span>
				</div-->
				<div class="threads">

					@if (Model.Threads.Count == 0) {
						<p>No threads yet! Be the first to add one</p>
					} else {
						foreach (Thread thread in Model.Threads) {
							<div class="thread" id="thread-@thread.ThreadID">
								<span class="thumb"><img src="@thread.Posts.First().User.GetProfileImageUrl(40,40)" /></span>
								<span class="subject"><h4><a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/thread/@thread.ThreadID">@Html.Raw(thread.Subject)</a></h4><span class="date">Posted by <a href="@thread.Posts.First().User.ProfileDisplayUrl">@thread.Posts.First().User.SecureName</a> &mdash; @thread.ThreadDate.ToShortDateString() at @thread.ThreadDate.ToShortTimeString()</span></span>
								<span class="replies">
									<span class="number">@thread.TotalReplies @(thread.TotalReplies == 1 ? "reply" : "replies") </span>
									<span class="last-poster">Last by <a href="@thread.Posts.Last().User.ProfileDisplayUrl">@thread.Posts.Last().User.SecureName</a></span>
									<span class="date">@thread.LastPostDate.ToShortDateString() at @thread.LastPostDate.ToShortTimeString()</span> </span>
							
							</div>
						}
					}
				</div>
			</div>
			<div class="thread-link"><a href="javascript:void(0)" class="d-button action">Add Thread</a></div>
			<div id="add-post">
				<div>
					<form class="forum-post-new" method="post" action="/courses/@ViewContext.RouteData.Values["slug"]/discussion/createpost">
						<h2>Add a New Thread</h2>
						<a class="cancel-thread" href="javascript:void(0)">Cancel</a>
						<input type="hidden" id="ForumID" name="ForumID" value="@Model.ForumID" />

						<table style="width: 100%;">
							<tbody>
								<tr>
									<td>Subject</td>
									<td>
										<input type="text" id="Subject" size="60" name="Subject" value="" />					
									</td>
								</tr>
								<tr>
									<td>Message</td>
									<td>
										<textarea id="PostContent" name="PostContent" cols="60" rows="5"></textarea>
									</td>
								</tr>
							</tbody>
						</table>

						 <input type="submit" value="Create Thread" />

					</form>
				</div>
			</div>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".thread-link").show();

        $("#add-post").hide().addClass("add-post-outer");
        $(".add-post-outer > div").addClass("add-post");

        $(".thread-link a").click(function () {
            $("#add-post").fadeIn("slow");
        });

        var in_add_post = false;
        $(".add-post").hover(function () {
            in_add_post = true;
        }, function () {
            in_add_post = false;
        });

        $("a.cancel-thread").click(function () {
            $("#add-post").fadeOut("slow");
        });
        $("body").mouseup(function () {
            if (!in_add_post) $('#add-post').fadeOut("slow");
        });


    });
</script>