@model Thread
@{
	ViewBag.Title = "Thread Posts";
}

@{Html.RenderPartial("CourseHeader"); }

@{Html.RenderPartial("CourseMenu"); }




    <table class="forum-posts">
        <thead>
            <tr>
                <th width="200"><a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/forum/@Model.Forum.ForumID">@Model.Forum.Name</a></th>
                <td width="720">@Model.Subject</td>
            </tr>
        </thead>
	    <tbody>

    @foreach (Post post in Model.Posts) {
	    <tr>
		    <th>							
			    <a href="@post.User.ProfileDisplayUrl">
				    <span class="name">@post.User.FormattedName</span>
                </a>
                <br />
			    <a href="@post.User.ProfileDisplayUrl">
				    <img src="@post.User.ProfileImageUrl" alt="@post.UserName" class="post-author" />
			    </a>
			    <div class="date">
				    @post.PostDate
			    </div>
		    </th>
		    <td>
			    <div class="content">
                       @Html.Raw(post.PostContentFormatted)
			    </div>
		    </td>
	    </tr>
    }

	    </tbody>
    </table>

    <form class="forum-post-new" method="post" action="/courses/@ViewContext.RouteData.Values["slug"]/discussion/reply/@Model.ThreadID">
	     <input type="hidden" id="ThreadID" name="ThreadID" value="@Model.ThreadID" />
	     <input type="hidden" id="ForumID" name="ForumID" value="@Model.ForumID" />
	     <input type="hidden" id="ReplyToPostID" name="ReplyToPostID" value="@Model.LastPostID" />

	     <table style="width: 100%;">
		    <tbody>
			    <tr>
				    <td>Subject</td>
				    <td>
					    <input type="text" id="Subject" size="60" name="Subject" value="RE: @Model.LastPostSubject" />					
				    </td>
			    </tr>
			    <tr>
				    <td>Message</td>
				    <td>
					    <textarea id="PostContent" name="PostContent" cols="60" rows="5"></textarea>
				    </td>
			    </tr>
		    </tbody>
	     </table>

	     <input type="submit" value="Submit Reply" />

    </form>