@model Thread
@{
	ViewBag.Title = "Thread Posts";
}

@{Html.RenderPartial("CourseHeader"); }

@{Html.RenderPartial("CourseMenu"); }



   <div id="breadcrumbs"><a href="/courses/@ViewContext.RouteData.Values["slug"]/schedule">@Model.Forum.Course.Name</a> &#9654; <a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/">@Model.Forum.Course.Name Discussion</a> &#9654; <a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/forum/@Model.Forum.ForumID">@Model.Forum.Name</a></div>

    <div class="forum-posts">
        <div class="header">
            <span class="poster">&nbsp;</span>
            <span class="subject">@Html.Raw(Model.Subject)</span>
        </div>
        <div class="posts">
            @foreach (Post post in Model.Posts) {
	        <div class="post">
		        <div class="poster">							
			        <a href="@post.User.ProfileDisplayUrl">
				        <span class="name">@(post.User.NickName.IsEmpty() ? post.User.FirstName : post.User.NickName) @(post.User.LastName.Substring(0, 1) + ".")</span>
                    </a>
                    <br />
			        <a href="@post.User.ProfileDisplayUrl">
				        <img src="@post.User.ProfileImageUrl" alt="@post.UserName" class="post-author" />
			        </a>
			        <div class="date">
				        @post.PostDate
			        </div>
		        </div>
		        <div class="content-area">
			        <div class="content">
                        @Html.Raw(post.PostContentFormatted)
			        </div>
                    <div class="reply-link"><a rel="#replyto@(post.PostID)" href="javascript:void(0)">Reply</a><div class="clear"></div></div>

                    <div class="add-reply">
                        <form class="forum-post-new" method="post" action="/courses/@ViewContext.RouteData.Values["slug"]/discussion/reply/@Model.ThreadID">
	                        <input type="hidden" class="ThreadID" name="ThreadID" value="@Model.ThreadID" />
	                        <input type="hidden" class="ForumID" name="ForumID" value="@Model.ForumID" />
	                        <input type="hidden" class="ReplyToPostID" name="ReplyToPostID" value="@post.PostID" />
					        <input type="hidden" class="Subject"name="Subject" value="RE: @post.Subject" />

                            <h4>Reply to @(post.User.NickName.IsEmpty() ? post.User.FirstName : post.User.NickName) @(post.User.LastName.Substring(0, 1) + ".")</h4>

				                <textarea id="replyto@(post.PostID)" name="PostContent" cols="78" rows="5"></textarea>

	                            <input type="submit" value="Submit Reply" />

                        </form>
                    </div>
		        </div>
	        </div>
            }

	    </div>
    </div>

    <form class="forum-post-new" method="post" action="/courses/@ViewContext.RouteData.Values["slug"]/discussion/reply/@Model.ThreadID">
	     <input type="hidden" id="ThreadID" name="ThreadID" value="@Model.ThreadID" />
	     <input type="hidden" id="ForumID" name="ForumID" value="@Model.ForumID" />
	     <input type="hidden" id="ReplyToPostID" name="ReplyToPostID" value="@Model.LastPostID" />

	     <table style="width: 100%;">
		    <tbody>
			    <tr>
				    <td>Subject</td>
				    <td>
					    <input type="text" id="Subject" size="60" name="Subject" value="RE: @Html.Raw(Model.LastPostSubject)" />					
				    </td>
			    </tr>
			    <tr>
				    <td>Message</td>
				    <td>
					    <textarea id="PostContent" name="PostContent" cols="60" rows="5"></textarea>
				    </td>
			    </tr>
		    </tbody>
	     </table>

	     <input type="submit" value="Submit Reply" />

    </form>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".reply-link").show();
            $(".add-reply").hide();

            $(".reply-link a").click(function () {
                alert($(this).text());
                if ($(this).text() == "Reply") {
                    $(".add-reply").slideUp("fast");
                    $(".reply-link a").text("Reply");
                    $(this).parent().next(".add-reply").slideDown("slow");
                    $(this).text("Cancel Reply");
                    //$("form.forum-post-new").fadeOut("fast");
                } else {
                    $(this).text("Reply");
                    $(this).parent().next(".add-reply").slideUp("fast");
                    $(".forum-post-new").fadeIn("fast");
                }
            });

        });
    </script>