@model Thread
@{
    ViewBag.Title = "Thread Posts";
    User thisUser = Users.GetLoggedInUser();
}

<div class="page-wide">

@Html.Partial("_CourseHeader", Model.Forum.Course)
@Html.Partial("_CourseMenu")

	<div class="full-column">


        <div id="breadcrumbs"><a href="/courses/@ViewContext.RouteData.Values["slug"]/schedule">@Model.Forum.Course</a> &#9654; <a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/">@Model.Forum.Course.Name Discussion</a> &#9654; <a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/forum/@Model.Forum.ForumID">@Model.Forum.Name</a></div>

        <div class="forum-posts">
            <div class="header">
                <span class="subject"><h2>@Html.Raw(Model.Subject)</h2></span>
            </div>
            <div class="posts">
			
			    @Html.Partial("_WritePosts", Model.Posts.ToList())

	        </div>
        </div>

        <form class="forum-post-new" method="post" action="/courses/@ViewContext.RouteData.Values["slug"]/discussion/reply/@Model.ThreadID">
	        <input type="hidden" id="ThreadID" name="ThreadID" value="@Model.ThreadID" />
	        <input type="hidden" id="ForumID" name="ForumID" value="@Model.ForumID" />
	        <input type="hidden" id="ReplyToPostID" name="ReplyToPostID" value="@Model.LastPostID" />
			<input type="hidden" id="Subject" name="Subject" value="RE: @Html.Raw(Model.LastPostSubject)" />

            <h3>Add a Reply</h3>
	         
			 <table>
		        <tbody>
			        <tr>
				        <th>
		                    <a href="@thisUser.ProfileDisplayUrl">
			                    <img src="@thisUser.GetProfileImageUrl(40,40)" alt="@thisUser.SecureShortName" class="post-author" />
		                    </a>
                        </th>
				        <td>
					        <textarea id="PostContent" name="PostContent" cols="60" rows="10"></textarea>
				        </td>
			        </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" class="d-button action reply-button" value="Add Reply" /></td>
                    </tr>
		        </tbody>
	         </table>

        </form>

		@*
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".reply-link").show();
                $(".add-reply").hide();

                $(".reply-link a").click(function () {
                    //alert($(this).text());
                    if ($(this).text() == "Reply") {
                        $(".add-reply").slideUp("fast");
                        $(".reply-link a").text("Reply");
                        $(this).parent().next(".add-reply").slideDown("slow");
                        $(this).text("Cancel Reply");
                        //$("form.forum-post-new").fadeOut("fast");
                    } else {
                        $(this).text("Reply");
                        $(this).parent().next(".add-reply").slideUp("fast");
                        $(".forum-post-new").fadeIn("fast");
                    }
                });

            });
        </script>
		*@
    </div>
</div>