@model Didache.User

@{
    ViewBag.Title = "View";
}


<div class="profile">
    <div style="float: left; width: 300px;">
	    <img src="@Model.ProfileImageUrl" alt="@Model.FormattedName" />
    </div>

    <div style="float: left; width: 400px;">
	
	    <h2>@Model.FormattedName</h2>

			    <dl>
				    <dt>From</dt>
				    <dd>
					    @Model.City, @Model.State
				    </dd>
				    <dt>Phone</dt>
				    <dd>
					    @Model.Phone
				    </dd>
				    <dt>Email</dt>
				    <dd>
					    @Model.Email
				    </dd>
                    <dt>Birthday</dt>
                    <dd>@Model.BirthDate.Value.ToShortDateString()</dd>

			    </dl>
			
    </div>
</div>