@model Didache.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div id="edit">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.UserID)
 
            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MiddleName)
                </div>
                @Html.EditorFor(model => model.MiddleName)
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <br />
            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NickName)
                </div>
                @Html.EditorFor(model => model.NickName)
                @Html.ValidationMessageFor(model => model.NickName)
            </div>
    
        <hr />

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Address1)
                </div>
                @Html.EditorFor(model => model.Address1)
                @Html.ValidationMessageFor(model => model.Address1)
            </div><br />

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Address2)
                </div>
                @Html.EditorFor(model => model.Address2)
                @Html.ValidationMessageFor(model => model.Address2)
            </div><br />

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.City)
                </div>
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.State)
                </div>
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Zip)
                </div>
                @Html.EditorFor(model => model.Zip)
                @Html.ValidationMessageFor(model => model.Zip)
            </div><br />

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Country)
                </div>
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
    
        <hr />

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Phone)
                </div>
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div><br />

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.BirthDate)
                </div>
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
  
            <p>
                <input type="submit" value="Save" />
            </p>
    }
</div>
