@{
    string currentQuery = Request.Url.PathAndQuery;
    string currentArea = "";
    if (currentQuery.StartsWith("/courses")) {
        currentArea = "courses";
    } else if (currentQuery.StartsWith("/community")) {
        currentArea = "community";
    } else if (currentQuery.StartsWith("/admin")) {
        currentArea = "admin";
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

	<link href="@Url.Content("~/css/reset.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/type.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/layout.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/students.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/admin.css")" rel="stylesheet"  />

	<script src="@Url.Content("~/js/lib/jquery-1.6.1.min.js")"></script>
		
	<script src="@Url.Content("~/js/lib/jquery-ui.min.js")"></script>
	<link href="@Url.Content("~/js/lib/ui-lightness/jquery-ui.css")" rel="stylesheet"  />
	
	<script src="@Url.Content("~/js/lib/jquery.validate.min.js")" ></script>
	<script src="@Url.Content("~/js/lib/jquery.validate.unobtrusive.min.js")"></script>
	<script src="@Url.Content("~/js/lib/jquery.expander.js")"></script>
	<script src="@Url.Content("~/js/lib/jquery.fileupload.js")"></script>

	<script src="@Url.Content("~/js/lib/jwysiwyg/jquery.wysiwyg.js")"></script>
	<link href="@Url.Content("~/js/lib/jwysiwyg/jquery.wysiwyg.css")" rel="stylesheet"  />
	
	@*
	<script src="@Url.Content("~/js/lib/cleditor/jquery.cleditor.min.js")"></script>
	<link href="@Url.Content("~/js/lib/cleditor/jquery.cleditor.css")" rel="stylesheet"  />
	*@
	

	<script src="@Url.Content("~/js/main.js")"></script>

	@RenderSection("head",false)
</head>

<body>

	@Html.Partial("_CommonMenu")
	
	@Html.Partial("_SiteHeader")

	<div id="main">
		<div id="main-menu">
			@if (IsSectionDefined("profileimage")) {
				@RenderSection("profileimage",false)
			} else {
				if (HttpContext.Current.User.Identity.IsAuthenticated) { 
					<div id="user-profile">
					@{ User user = Users.GetLoggedInUser();}
						<a href="@user.ProfileDisplayUrl">
							<img alt="@user.FormattedName" src="@user.GetProfileImageUrl(60, 60)" width="60" height="60" />
							<span class="name">@user.SecureName</span>
							<span class="title">@user.Country</span>
						</a>
					</div>
				}
			}

			@Html.Partial("_UserMenu")	

			@if (User.IsInRole(UserRoles.Administrator)) {
				@Html.Partial("_AdminMenu")	
			}
		</div>
		
		<div id="main-content">
			@RenderBody()
		</div>

		<div class="clear"></div>
	</div>

	@Html.Partial("_SiteFooter")

	@*
    <div id="container-1">
        <div class="wrapper">
	        <div id="nav">
		        <ul id="main-menu">         
                    <li><a id="main-menu-home" href="/" @Html.Raw(Request.Url.PathAndQuery == "/" ? " class=\"selected\"" : "")>@Resources.labels.tabs_home</a></li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated) {
			        <li><a id="main-menu-courses" href="/courses" @Html.Raw(Request.Url.PathAndQuery.StartsWith("/courses") ? " class=\"selected\"" : "")>@Resources.labels.tabs_courses</a></li>
			        <li><a id="main-menu-profile" href="/community" @Html.Raw(Request.Url.PathAndQuery.StartsWith("/community") ? " class=\"selected\"" : "")>@Resources.labels.tabs_community</a></li>
					}
					@if (HttpContext.Current.User.IsInRole(UserRoles.Administrator) || HttpContext.Current.User.IsInRole(UserRoles.Builder)) {
					<li><a id="main-menu-admin" href="/admin" @Html.Raw(Request.Url.PathAndQuery.StartsWith("/admin") ? " class=\"selected\"" : "")>@Resources.labels.tabs_admin</a></li>
			        }
                </ul>
            </div>
			
            <div id="profile-display">
            @if (HttpContext.Current.User.Identity.IsAuthenticated) { 
			    <a href="@Users.GetLoggedInUser().ProfileDisplayUrl">
					<img alt="@Users.GetLoggedInUser().FormattedName" src="@Users.GetLoggedInUser().ProfileImageUrl" />
				</a>
			}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
	

		<div id="sub-menu">              
            <div class="sub-menu-item @(Request.Url.PathAndQuery == "/" ? " selected" : "")" id="main-menu-home-details">
				<ul>
					<li><a href="/">@Resources.labels.submenu_dashboard</a></li>		
				</ul>
			</div>
			@if (HttpContext.Current.User.Identity.IsAuthenticated) {
                <div class="sub-menu-item @(Request.Url.PathAndQuery.StartsWith("/courses") ? " selected" : "")" id="main-menu-courses-details">
				    <ul>
					    <li><span>@Resources.labels.submenu_tools:</span></li>
					    <li><a href="/courses/">@Resources.labels.submenu_archive</a></li>
					    <li><span>@Resources.labels.submenu_current:</span></li>
					    @{
							List<Course> courses = Didache.Courses.GetUsersRunningCourses(CourseUserRole.Student);
							if (courses != null) {
								foreach (Course course in courses) {
								<li@Html.Raw(ViewContext.RouteData.Values["slug"] != null && ViewContext.RouteData.Values["slug"].ToString() == course.Slug ? " class=\"selected\"" : "")><a href="/courses/@course.Slug@(( ViewContext.RouteData.Values["action"] != null && (new List<string>() {"dashboard","schedule","files","roster","assignments"}).IndexOf(ViewContext.RouteData.Values["action"].ToString()) > -1) ? "/" + ViewContext.RouteData.Values["action"] : "" )">@(course.CourseCode + course.Section)</a></li>	
								}
							}
						}
				    </ul>
			    </div>
                <div class="sub-menu-item @(Request.Url.PathAndQuery.StartsWith("/community") ? " selected" : "")" id="main-menu-profile-details">
				    <ul>
					    
					    <li><a href="/community">@Resources.labels.submenu_community_home</a></li>
						<li><a href="@Users.GetLoggedInUser().ProfileDisplayUrl">@Resources.labels.submenu_view</a></li>
				    </ul>
			    </div>
		   }
		   @if (HttpContext.Current.User.IsInRole(UserRoles.Administrator) || HttpContext.Current.User.IsInRole(UserRoles.Builder)) {
                <div class="sub-menu-item @(Request.Url.PathAndQuery.StartsWith("/admin") ? " selected" : "")" id="main-menu-admin-details">
				    <ul>
					    <li><a href="/admin/sessions">@Resources.labels.submenu_sessions</a></li>
					    <li><a href="/admin/campuses">@Resources.labels.submenu_campuses</a></li>
					    <li><a href="/admin/courses">@Resources.labels.submenu_courses</a></li>
					    <li><a href="/admin/files">@Resources.labels.submenu_files</a></li>
					    <li><a href="/admin/users">@Resources.labels.submenu_users</a></li>
				    </ul>
			    </div>
            }
	    </div>
    </div>
    <div class="clear"></div>
    <div id="container-2" @( Html.Raw(currentArea.IsEmpty() ? "" :"class=\"" + currentArea + "\"" ))>
	    <div id="main">
            <div class="wrapper">
                @RenderBody()

		        <div class="clear"></div>
            </div>
	    </div>
    </div>
	*@

</body>
</html>
