@{
    string currentQuery = Request.Url.PathAndQuery;
    string currentArea = "";
    if (currentQuery.StartsWith("/courses")) {
        currentArea = "courses";
    } else if (currentQuery.StartsWith("/community")) {
        currentArea = "community";
    } else if (currentQuery.StartsWith("/admin")) {
        currentArea = "admin";
    }
}
<!DOCTYPE html>
<html lang="@Users.GetUserLanguage()">
<head>
	<meta charset="utf-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" /> 

    <title>@ViewBag.Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="@Url.Content("~/css/reset.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/type.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/layout.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/students.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/admin.css")" rel="stylesheet"  />

	<script src="@Url.Content("~/js/lib/jquery-1.6.4.min.js")"></script>
		
	<script src="@Url.Content("~/js/lib/jquery-ui.min.js")"></script>
	<link href="@Url.Content("~/js/lib/ui-lightness/jquery-ui.css")" rel="stylesheet"  />
	
	<script src="@Url.Content("~/js/lib/jquery.validate.min.js")" ></script>
	<script src="@Url.Content("~/js/lib/jquery.validate.unobtrusive.min.js")"></script>
	<script src="@Url.Content("~/js/lib/jquery.expander.js")"></script>
	<script src="@Url.Content("~/js/lib/jquery.fileupload.js")"></script>
	<script src="@Url.Content("~/js/lib/jquery.autoexpand.js")"></script>


	<script src="@Url.Content("~/js/lib/jwysiwyg/jquery.wysiwyg.js")"></script>
	<link href="@Url.Content("~/js/lib/jwysiwyg/jquery.wysiwyg.css")" rel="stylesheet"  />

	<script src="@Url.Content("~/js/main.js")"></script>

	<meta name="description" content="Dallas Theological Seminary's award-winning online education and degrees portal. HTML5 powered!" />
	<meta name="keywords" content="seminary, online, education, degree, bible, thm, mdiv, dmin, phd, theology, jesus, god, christian, christianity, home, houston, austin, tampa, knoxville, atlanta, san antonio" />

	@RenderSection("head",false)
</head>

<body>

	@Html.Partial("_CommonMenu")
	
	@Html.Partial("_SiteHeader")

	<div id="main">
		<div id="main-menu">
			@if (IsSectionDefined("profileimage")) {
				@RenderSection("profileimage",false)
			} else {
				if (HttpContext.Current.User.Identity.IsAuthenticated) { 
					<div id="user-profile">
					@{ User user = Users.GetLoggedInUser();}
						<a href="@user.ProfileDisplayUrl">
							<img alt="@user.SecureFormattedName" src="@user.GetProfileImageUrl(60, 60)" width="60" height="60" />
							<span class="name">@user.SecureShortName</span>
							<span class="title">@user.Country</span>
						</a>
					</div>
				}
			}

			@Html.Partial("_UserMenu")	
			
			@Html.Partial("_AdminMenu")	
			
		</div>
		
		<div id="main-content">
			@RenderBody()
		</div>

		<div class="clear"></div>
	</div>

	@Html.Partial("_SiteFooter")
	

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-64595-14']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>

</body>
</html>
