@{
    string currentQuery = Request.Url.PathAndQuery;
    string currentArea = "";
    if (currentQuery.StartsWith("/courses")) {
        currentArea = "courses";
    } else if (currentQuery.StartsWith("/community")) {
        currentArea = "community";
    } else if (currentQuery.StartsWith("/admin")) {
        currentArea = "admin";
    }
}
<!DOCTYPE html>
<html lang="@Users.GetUserLanguage()">
<head>
    <title>@ViewBag.Title</title>

	<link href="@Url.Content("~/css/reset.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/type.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/layout.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/students.css")" rel="stylesheet"  />
	<link href="@Url.Content("~/css/admin.css")" rel="stylesheet"  />

	<script src="@Url.Content("~/js/lib/jquery-1.6.1.min.js")"></script>
		
	<script src="@Url.Content("~/js/lib/jquery-ui.min.js")"></script>
	<link href="@Url.Content("~/js/lib/ui-lightness/jquery-ui.css")" rel="stylesheet"  />
	
	<script src="@Url.Content("~/js/lib/jquery.validate.min.js")" ></script>
	<script src="@Url.Content("~/js/lib/jquery.validate.unobtrusive.min.js")"></script>
	<script src="@Url.Content("~/js/lib/jquery.expander.js")"></script>
	<script src="@Url.Content("~/js/lib/jquery.fileupload.js")"></script>

	<script src="@Url.Content("~/js/lib/jwysiwyg/jquery.wysiwyg.js")"></script>
	<link href="@Url.Content("~/js/lib/jwysiwyg/jquery.wysiwyg.css")" rel="stylesheet"  />
	
	@*
	<script src="@Url.Content("~/js/lib/cleditor/jquery.cleditor.min.js")"></script>
	<link href="@Url.Content("~/js/lib/cleditor/jquery.cleditor.css")" rel="stylesheet"  />
	*@
	

	<script src="@Url.Content("~/js/main.js")"></script>

	@RenderSection("head",false)
</head>

<body>
	
	@*
	set = @Request.Cookies["HowLangSet"].Value | 
	cookie = @(Request.Cookies["Language"] == null ? "(none)" : Request.Cookies["Language"].Value) | 
	user = @(Users.GetLoggedInUser() == null ? "(none)" : Users.GetLoggedInUser().Language)
	*@

	@Html.Partial("_CommonMenu")
	
	@Html.Partial("_SiteHeader")

	<div id="main">
		<div id="main-menu">
			@if (IsSectionDefined("profileimage")) {
				@RenderSection("profileimage",false)
			} else {
				if (HttpContext.Current.User.Identity.IsAuthenticated) { 
					<div id="user-profile">
					@{ User user = Users.GetLoggedInUser();}
						<a href="@user.ProfileDisplayUrl">
							<img alt="@user.FormattedName" src="@user.GetProfileImageUrl(60, 60)" width="60" height="60" />
							<span class="name">@user.SecureName</span>
							<span class="title">@user.Country</span>
						</a>
					</div>
				}
			}

			@Html.Partial("_UserMenu")	
			
			@Html.Partial("_AdminMenu")	
			
		</div>
		
		<div id="main-content">
			@RenderBody()
		</div>

		<div class="clear"></div>
	</div>

	@Html.Partial("_SiteFooter")

</body>
</html>
