@{
    ViewBag.Title = "DTS Online Ed";
    
}



@if (Users.GetLoggedInUser() != null) {
	
<div id="dashboard">
    <div class="side">
        <div>
            <h3>@Resources.labels.home_dashboard_heading_upcoming</h3>
			
			@foreach (UserTaskData task in Courses.GetImportantTasksForUser()) {
		    <div class="due-soon">
			    <span class="date">@(task.Task.DueDate.HasValue ? @task.Task.DueDate.Value.ToShortDateString() : "")</span> - @task.Task.Name
		    </div>
   }
			

        </div>
    </div>
    <div class="main">
        <div >
            <h2>@Resources.labels.home_dashboard_heading_stream</h2>

			@{ var activities = ActivityStream.GetUsersItems();}

			@foreach (ActivityStreamItemBase item in activities) {
				<div class="activity">
					<span class="activity-date">@item.ActivityDate</span>
					<span class="activity-text">@Html.Raw(item.FormatActivity())</span>
				</div>
			} 

        </div>
    </div>
    <div class="side">
        <div>
            <h3>@Resources.labels.home_dashboard_heading_courseresources</h3>
            <ul>
                <li>@Resources.labels.home_dashboard_li_downloadcalendar</li>
                <li><span class="icon compressed">@Resources.labels.home_dashboard_li_downloadallfiles</span></li>
            </ul>

            <h3>@Resources.labels.home_dashboard_heading_onlineedresources</h3>
            <ul>
                <li><a href="http://www.microsoft.com/downloads/details.aspx?FamilyId=941b3470-3ae9-4aee-8f43-c6bb74cd1466&displaylang=en">@Resources.labels.home_dashboard_li_msword</a></li>
                <li><a href="http://openoffice.org">@Resources.labels.home_dashboard_li_openoffice</a></li>
                <li>
                    <em>@Resources.labels.home_dashboard_heading_bibsoftware</em>
                    <ul>
                        <li><a href="http://www.zotero.org">@Resources.labels.home_dashboard_li_zotero</a></li>
                        <li><a href="http://endnote.com">@Resources.labels.home_dashboard_li_endnote</a></li>
                        <li><a href="http://styleease.com">@Resources.labels.home_dashboard_li_styleease</a></li>
                    </ul>
                </li>
                <li><a href="http://library.dts.edu/Pages/RM/Write/turabian_sup.pdf">@Resources.labels.home_dashboard_li_turabianformattutorial</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
	
} else {
	
	<h2>Welcome</h2>
	
	<p>This is Dallas Theological Seminary's online education portal. Feel free to check out some classes.</p>
	
	<p>Overview video</p>

}