@model Course
		   
@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Didache.Resources.labels.coursetabs_assignments;
    
    
}

<div class="page-wide">

@Html.Partial("_CourseHeader", Model)
@Html.Partial("_CourseMenu")

	<div class="full-column">
		
		<table class="assignments-list">
		@{ Unit unit = null; }
		
		@foreach (UserTaskData userTask in ViewBag.AllUserTasks) {
			if (unit == null || unit.UnitID != userTask.Task.Unit.UnitID) {
				<tr>
					<th colspan="6" class="unit-head">Unit @userTask.Task.Unit.SortOrder - @userTask.Task.Unit.Name</th>
				</tr>
				<tr>
					<th>Task</th>
					<th>Due</th>
					<th>Status</th>
					<th></th>
					<th>Grade</th>
					<th></th>
				</tr>				
				unit = userTask.Task.Unit;
			}
		
			<tr>
				<td><a href="@userTask.UserTaskUrl">@Html.Raw(userTask.Task.Name)</a></td>
				<td>@(userTask.Task.DueDate.HasValue ? userTask.Task.DueDate.Value.ToShortDateString() : "")</td>
				<td>
					<span class="task-status status-@userTask.TaskCompletionStatus.ToString().ToLower() @(userTask.TaskCompletionStatus == TaskCompletionStatus.NotStarted && (DateTime.Now > userTask.Task.DueDate || DateTime.Now > userTask.Task.Unit.EndDate) ? "status-overdue" : "")"></span>
				</td>
				<td>
					@(userTask.StudentSubmitDate.HasValue ? userTask.StudentSubmitDate.Value.ToShortDateString() : "")
					@if (userTask.StudentFileID > 0) {
						<a href="@userTask.StudentFile.FileUrl">your file</a>
					}
				</td>
				<td>
					@userTask.NumericGrade
				</td>
				<td>
					@if (userTask.GraderFileID > 0) {
						<a href="@userTask.GradedFile.FileUrl">graded file</a>
					}				
				</td>
			</tr>
		}
		</table>


	</div>

	<div class="clear"></div>

</div>