@model Course
		   
@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_assignments;
    int i = 1;
}

<!--@{Html.RenderPartial("CourseHeader"); }-->

@{ Html.RenderPartial("CourseMenu"); }

<div id="main-column">
    <div class="block-list-header"><h3>Assignments</h3></div>
    <div class="block-list">
            @foreach (Unit unit in Model.Units)
            {
                
                List<UserTaskData> userTasks = null;

                userTasks = Tasks.GetUserTaskDataInUnit(unit.UnitID, Users.GetLoggedInUser().UserID);
                
	                <div class="block-list-item">
                        <div class="block-list-item-label">
                            <span>Unit @i</span>
                        </div>
                        <h5>@unit.Name</h5>

                        <ul class="graded-assignments">
                            @foreach (Didache.UserTaskData userTaskData in userTasks) {
                                switch (userTaskData.TaskCompletionStatus) {
	                            
                                    case TaskCompletionStatus.Completed:    
                                        <li><strike>@userTaskData.Task.Name</strike></li>;
                                        break;
                                    
                                    case TaskCompletionStatus.Skipped:      
                                        <li><strike><span class="skipped">@userTaskData.Task.Name</span></strike></li>; 
                                        break;
                                    
                                    case TaskCompletionStatus.NotStarted:   
                                        <li>@userTaskData.Task.Name</li>
                                        break;
                                }

                            }
                        </ul>
                        
                        <div class="clear"></div>
	                </div>
                { i += 1; }
            }

    </div>
</div>