@model Course
		   
@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_assignments;
    
    
}

@Html.Partial("CourseHeader")

@Html.Partial("CourseMenu")

<div id="main-column">
    <div class="block-list-header"><h3>@Resources.labels.courses_heading_assignments</h3></div>
    <div class="block-list">
                
	    <div class="block-list-item">
            <div class="block-list-item-label">
                <span>@Resources.labels.courses_label_gradedfiles</span>
            </div>
            <ul class="course-filegroup-files">

                @foreach (Unit unit in Model.Units)
                {
                
                    List<UserTaskData> userTasks = null;

                    userTasks = Tasks.GetUserTaskDataInUnit(unit.UnitID, Users.GetLoggedInUser().UserID);
                                
                        foreach (Didache.UserTaskData userTaskData in userTasks) {
                            switch (userTaskData.GradeStatus) {
	                            
                                case 0:
                                    <!--li><span class="filename">@userTaskData.Task.Name</span></li-->
                                    break;
                                    
                                case 1:      				
					                <li>
                                       
                                        <a href="/Courses/StudentFile?id=@userTaskData.TempID">
                                            <span class="filename">@userTaskData.Task.Name</span>
                                            <span class="type"><img src="/css/images/pdf.png" /></span>
                                            <span class="size">
                                                @userTaskData.NumericGrade
                                                @(userTaskData.LetterGrade.IsEmpty() ? "" : "(@userTaskData.LetterGrade)") 
                                            </span>
                                        </a>
                                    </li>
                                    break;
                            }

                        }
                        
                    <div class="clear"></div>
                }
            </ul>
	    </div>

    </div>
</div>