@model Didache.Course

@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_dashboard;
}

@{ Html.RenderPartial("CourseHeader"); }

@{ Html.RenderPartial("CourseMenu"); }

<div id="main-column">
    <div class="block-list-header"><h3>Upcoming...</h3></div>
    <div class="block-list">

		@foreach (ActivityStreamItemBase item in ActivityStream.GetUsersItems(Model.CourseID)) {
			<div class="activity">
				<span class="activity-date">@item.ActivityDate</span>
				<span class="activity-text">@Html.Raw(item.FormatActivity())</span>
			</div>
		} 


		@foreach (UserTaskData task in Courses.GetImportantTasksForUser()) {
		<div class="due-soon">
			@task.Task.DueDate - @task.Task.Name
		</div>
		}




        @foreach (Didache.Unit unit in Model.Units) {
            if (unit.StartDate > DateTime.Now) {
	            <div class="block-list-item">
                    <div class="block-list-item-label">
                        <span>@unit.StartDate.ToShortDateString()</span>
                    </div>
		            <h5>@unit.SortOrder. @unit.Name</h5>
                
		            <ol>
		            @foreach (Task task in unit.Tasks) {
			            <li>
				            @task.Name
			            </li>
                    }
		            </ol>	
	            </div>
            }
        }
    </div>
</div>
<div id="sub-column">
    <div id="course-description-header" class="header">
        <h4>Course Description</h4>
    </div>
    <div class="list">
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>