@model Didache.Course

@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Didache.Resources.labels.coursetabs_dashboard;
}

<div class="page-wide page-split">

	@Html.Partial("_CourseHeader", Model)
	@Html.Partial("_CourseMenu")

	<div class="main-column">
		
		@Html.Partial("_CourseDashboard", Model)

	</div>
	<div class="sub-column">
		
		<div class="sub-column-padding">
			<h3>@Didache.Resources.labels.courses_heading_coursedesc</h3>
		
			<p>@Html.Raw(Utility.StripHtml(Model.Description))</p>
		</div>
		
	</div>
	
	<div class="clear"></div>
</div>