@model Didache.Course

@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_dashboard;
}

<div class="page-wide">

	@Html.Partial("_CourseHeader", Model)
	@Html.Partial("_CourseMenu")

	<div class="main-column">
		<div class="block-list-header"><h3>@Resources.labels.courses_heading_dashboard</h3></div>
		<div class="block-list">

	

			@foreach (ActivityStreamItemBase item in ActivityStream.GetUsersItems(Model.CourseID)) {
				<div class="activity">
					<span class="activity-text">@Html.Raw(item.FormatActivity())</span>
					<span class="activity-date">@item.ActivityDate</span>
				</div>
			} 


    
			<div class="block-list-item">
				<div class="task-info">&nbsp;</div>
				<div class="task-details">
					<div class="task-instructions">
						<ul>
						@foreach (UserTaskData task in Courses.GetImportantTasksForUser()) {
        
							<li class="task-name"><strong>@task.Task.DueDate.Value.ToShortDateString()</strong> @task.Task.Name</li>
						}
						</ul>
					</div>
				</div>
			</div>




			@foreach (Didache.Unit unit in Model.Units) {
				if (unit.StartDate > DateTime.Now) {
					<div class="block-list-item">
						<div class="block-list-item-label">
							<span>@unit.StartDate.ToShortDateString()</span>
						</div>
						<h5>@unit.SortOrder. @unit.Name</h5>
                
						<ol>
						@foreach (Task task in unit.Tasks) {
							<li>
								@task.Name
							</li>
						}
						</ol>	
					</div>
				}
			}
		</div>
	</div>
	<div class="sub-column">
		<div id="course-description-header" class="header">
			<h4>@Resources.labels.courses_heading_coursedesc</h4>
		</div>
		<div class="list">
			<p>@Html.Raw(Model.Description)</p>
		</div>
	</div>
	
	<div class="clear"></div>
</div>