@model Course
@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.courses_heading_coursefiles;
}

<div class="page-wide page-split">

@Html.Partial("_CourseHeader", Model)
@Html.Partial("_CourseMenu")


	<div class="main-column">
		<div id="course-files" class="block-list">

		@foreach (CourseFileGroup group in ViewBag.CourseFileGroups) {
			<div class="course-filegroup block-list-item">
				<div class="block-list-item-label"><span>@group.Name</span><span class="arrow-border"></span><span class="arrow"></span></div>
				<ul class="course-filegroup-files">
					@foreach (CourseFileAssociation courseFileAssociation in group.CourseFileAssociations) {				
						<li id="file-@courseFileAssociation.CourseFile.FileID">
							<a class="file-@courseFileAssociation.CourseFile.FileType" href="@courseFileAssociation.CourseFile.FileUrl">
								<span class="type"><img src="/css/images/@(courseFileAssociation.CourseFile.FileType).png" /></span>
								<span class="filename">@courseFileAssociation.CourseFile.Title</span>
								
								<span class="size">@courseFileAssociation.CourseFile.FormattedLength</span>
							</a>
						</li>

					}
				</ul>
			</div>
		}

		</div>
	</div>

	<div class="sub-column">
		
		<div class="sub-column-padding">

			<h3>@Resources.labels.labels_dashboard_keydownloads</h3>
		
			@{ CourseFileAssociation syllabus = new DidacheDb().CourseFileAssociations.Where(cfa => cfa.CourseFileGroup.CourseID == Model.CourseID && cfa.CourseFile.Title.Contains("Syllabus")).FirstOrDefault();}
			@if (syllabus != null) {
				<a class="d-button" href="@syllabus.CourseFile.FileUrl">@Resources.labels.labels_dashboard_syllabus</a>
			}

			<a class="d-button" href="/courses/downloadall/@Model.Slug-Files.zip">@Resources.labels.labels_dashboard_downloadallfiles</a>
		</div>
	</div>

	<div class="clear"></div>

</div>