@model List<Didache.Course>

@{
	ViewBag.Title = Didache.Resources.labels.courses_heading_archivedcourses;
}

<div class="page-wide">
	<div class="full-column">

		<div class="page-header">
			<h2>@Didache.Resources.labels.courses_heading_archivedcourses</h2>
		</div>
	
		@{ Session lastSession = null; }

		@foreach (Course course in Model) {
			if (lastSession == null || lastSession.SessionID != course.SessionID) {
				if (lastSession != null) {
					@Html.Raw("</ul></div>")
				}
				
				@Html.Raw("<div class=\"session-archive\">")
				<h3>@course.Session.Name</h3>
				@Html.Raw("<ul>")

				lastSession = course.Session;
			}

			<li><a href="@course.CourseUrl">@course.CourseCode - @course.Name</a></li>
			
		}
	
	</div>

</div>
