@model Course

@{
    ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_roster;
    List<CourseUserGroup> groups = ViewBag.UserGroups;
}

<!--@{Html.RenderPartial("CourseHeader"); }-->

@{ Html.RenderPartial("CourseMenu"); }

<div id="main-column">
    <div class="block-list-header"><h3>Course Roster</h3></div>
	<div id="course-roster" class="block-list">

	@foreach (Didache.CourseUserGroup group in ViewBag.UserGroups) {
		<div class="course-group block-list-item">
			<div class="block-list-item-label">
                <span>
                   @(group.Facilitator == null ? group.Name : group.Facilitator.LastName)
                </span>
            </div>
			<div class="course-group-members">
			@foreach (CourseUser user in group.Students) {
				if (user.User != null) {
				<a class="course-group-member" href="@user.User.ProfileDisplayUrl">				
					<img src="@user.User.ProfileImageUrl" /><br />
					<span>@user.User.FormattedName</span>
				</a>
				}
			}
            <div class="clear"></div>
			</div>
		</div>
	}

	</div>
</div>
<div id="sub-column">
    <div class="header">
        @foreach (CourseUser user in Model.CourseUsers) {
            @Html.Raw(user.RoleID == 3 ? "<h4>" + user.User.FormattedName + "</h4>" : "")
        }
    </div>
    <div class="list">
        <ul>
            @foreach (CourseUser user in Model.CourseUsers) {
				if (user.User != null) {
                <li>@user.User.FormattedName, @user.RoleID</li>
				}
            }
        </ul>
    </div>
</div>

