<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

	<link href="@Url.Content("/css/reset.css")" rel="stylesheet"  />
	<link href="@Url.Content("/css/type.css")" rel="stylesheet"  />
	<link href="@Url.Content("/css/layout.css")" rel="stylesheet"  />
	<link href="@Url.Content("/css/admin.css")" rel="stylesheet"  />
	<link href="@Url.Content("/css/forms.css")" rel="stylesheet"  />
    
	<script src="@Url.Content("~/js/jquery-1.5.2.min.js")"></script>
	<script src="@Url.Content("~/js/jquery-ui.min.js")"></script>
	<script src="@Url.Content("~/js/jquery.validate.min.js")" ></script>
	<script src="@Url.Content("~/js/jquery.validate.unobtrusive.min.js")"></script>
	<script src="@Url.Content("~/js/jquery.fileupload.js")"></script>
	<script src="@Url.Content("~/js/admin.js")"></script>
	
	<link href="@Url.Content("/js/ui-lightness/jquery-ui.css")" rel="stylesheet"  />

	@RenderSection("head",false)
</head>

<body>
	<div id="dialog-container">
            @RenderBody()

		    <div class="clear"></div>
	</div>
</body>
</html>
