@model List<Course>

@{
    ViewBag.Title = "Courses List";
}
@section head {
	<script src="/js/admin/courses-common.js"></script>
	<script src="/js/admin/courses-data.js"></script>
	<script src="/js/admin/courses-course.js"></script>
}


<div class="page-wide">
	<div class="full-column">
		<div class="page-header">
			<h2>Courses 
				@if (ViewBag.Session != null) { 
					@ViewBag.Session.Name
				}
			</h2>
		</div>


<button type="button" class="d-button action" id="course-create" href="/admin/courses/edit/0">New Course</button>
<a type="button" class="d-button" id="course-clone" href="/admin/courses/clonecourse">Clone Old Course</a>

<table class="admin-list" id="course-list">
<thead>
	<tr>
		<th></th>
		<th>Sess</th>
		<th>Code</th>
		<th>Sec</th>
		<th>Name</th>
		<th></th>
		<!-- <th>Profs</th> -->
		<th>Start</th>
		<th>End</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		
	</tr>
</thead>
<tbody>
	@foreach (Course course in Model) {
	<tr class="course-task" data-courseid="@course.CourseID">
		<td><input type="checkbox" class="course-isactive" @(course.IsActive? " checked" :"") /></td>
		<td><span class="course-session">@course.Session.SessionCode@course.Session.SessionYear</span></td>
		<td><span class="course-coursecode">@course.CourseCode</span></td>
		<td><span class="course-section">@course.Section</span></td>
		<td><span class="course-name">@course.Name</span></td>
		<td><a class="course-delete" href="/admin/courses/DeleteCourse/@course.CourseID">delete</a></td>
		<!-- <td><span class="course-profs">@course.FacultyLastNames</span></td> -->
		<td><span class="course-startdate">@course.StartDate.ToString("MM/dd/yyyy")</span></td>
		<td><span class="course-enddate">@course.EndDate.ToString("MM/dd/yyyy")</span></td>
		@* <td><a class="course-grading" href="/admin/courses/grading/@course.CourseID">grading</a></td> *@

		<td><a class="course-grading" href="/courses/@course.Slug/schedule">view</a></td>
		
		<td><a class="course-grading" href="/grading/@course.Slug/tasklist">grade</a></td>

		<td><a class="course-grading" href="/admin/courses/surveys/@course.CourseID">surveys</a></td>
		<td><a class="course-files" href="/admin/courses/files/@course.CourseID">files</a></td>
		<td><a class="course-users" href="/admin/courses/users/@course.CourseID">users</a></td>
		<td><a class="course-users" href="/admin/courses/usergroups/@course.CourseID">groups</a></td>
		<td><a class="course-units" href="/admin/courses/courseeditor/@course.CourseID">tasks</a></td>
		<td><a class="course-edit" href="/admin/courses/edit/@course.CourseID">edit</a></td>
		
	</tr>

		<!-- td><a href="/admin/courses/outline/@course.CourseID">outline</a></td>
		<td><a href="/admin/courses/edit/@course.CourseID">edit</a></td> -->
	 
 }

</tbody>
</table>

<div id="course-editor" class="item-editor">
	
	<input type="hidden" id="CourseID" name="CourseID" value="@Model" />

	<table>
		<tbody>
			<tr>
				<th>Code</th>
				<td><input type="text" name="CourseCode" style="width:80px" placeholder="AA123" /> <input type="text" name="Section" style="width:30px" placeholder="A" /> - <input type="text" name="VersionNumber" defaultvalue="1" placeholder="Version" /></td>
			</tr>
			<tr>
				<th>Name</th>
				<td><input type="text" name="Name" placeholder="Course Name" style="width: 300px;" /></td>
			</tr>
			<tr>
				<th>Info</th>
				<td>
					<select name="SessionID">
					@foreach (Session session in new DidacheDb().Sessions.OrderBy(s => s.StartDate)) {
						<option value="@session.SessionID">@session.Name</option>
	 }
					</select> 
					<select name="CampusID">
					@foreach (Campus campus in new DidacheDb().Campuses.OrderBy(c => c.Name)) {
						<option value="@campus.CampusID">@campus.Name</option>
					}
					</select> 
					<input type="checkbox" name="IsActive" id="Course-IsActive" /><label for="Course-IsActive">Is Active</label>
				</td>
			</tr>
			<tr>
				<th>Dates</th>
				<td><input type="text" name="StartDate" class="date" value="" /> - <input type="text" name="EndDate" class="date" value="" /></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><textarea name="Description" class="htmltext-admin"></textarea></td>
			</tr>
		</tbody>
	</table>
</div>

</div>
</div>


<script>
	jQuery(function ($) {
		$('.course-delete').on('click', function (e) {

			var a = Math.floor(Math.random() * 12),
				b = Math.floor(Math.random() * 12),
				answer = prompt('If you want to delete this, please answer the following math problem\n\t' + a.toString() + ' + ' + b.toString() + ' = ?')

			answer = parseInt(answer);

			if (isNaN(answer) || a + b != answer) {
				e.preventDefault();
				return false;
			}

		});
	});
</script>