@model List<Course>

@{
    ViewBag.Title = "List";
}

<h2>Courses</h2>

<a class="oe-button" href="/admin/courses/edit/0">New Course</a>

<table class="admin-list">
<thead>
	<tr>
		<th></th>
		<th>Code</th>
		<th>Sec</th>
		<th>Name</th>
		<th>Start</th>
		<th>End</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	@foreach (Course course in Model) {
	<tr>
		<td>@course.IsActive</td>
		<td>@course.CourseCode</td>
		<td>@course.Section</td>
		<td>@course.Name</td>
		<td>@course.StartDate.ToString("MM/dd/yyyy")</td>
		<td>@course.EndDate.ToString("MM/dd/yyyy")</td>
		<td><a href="/admin/grading/@course.CourseID">gradebook</a></td>
		<td><a href="/admin/courses/grading/@course.CourseID">grading</a></td>
		<td><a href="/admin/courses/files/@course.CourseID">files</a></td>
		<td><a href="/admin/courses/users/@course.CourseID">users</a></td>
		<td><a href="/admin/courses/outline/@course.CourseID">outline</a></td>
		<td><a href="/admin/courses/edit/@course.SessionID">edit</a></td>
	</tr>
	}

</tbody>
</table>