@model List<Unit>

@{
	ViewBag.Title = "Outline";
}

<h2>Course Outline</h2>

<div id="dialog"><iframe src="/admin/courses/unit/0" frameborder="0"></iframe></div>

<div id="course-units" data-courseid="@ViewBag.Course.CourseID" class="nested-list">
	@foreach (Unit unit in Model) {
	<div class="course-unit nested-item" data-unitid="@unit.UnitID" >
		<div class="unit-header nested-item-row">
			<span class="unit-drag-handle drag-handle"></span>
			<input type="checkbox" class="unit-active" @(unit.IsActive ? "checked=\"checked\"" : "") />
			<input type="text" class="unit-name" value="@unit.Name" />

			<input type="date" class="unit-start-date" value="@unit.StartDate.ToString("yyyy-MM-dd")" />
			<input type="date" class="unit-start-end" value="@unit.EndDate.ToString("yyyy-MM-dd")" />

			<a class="unit-edit edit-link" href="/admin/courses/unit/@unit.UnitID">Edit</a>
			<a class="unit-edit delete-link" href="/admin/courses/deleteunit/@unit.UnitID">Delete</a>
		</div>

		<div class="course-tasks nested-child-list">
		@foreach (Task task in unit.Tasks) {
			<div class="course-task nested-child-item" data-taskid="@task.TaskID">
				<span class="task-drag-handle drag-handle"></span>
				<input type="checkbox" class="task-active" @(task.IsActive ? "checked=\"checked\"" : "") />
				<input type="text" class="task-name" value="@task.Name" />
				<span class="task-type">@task.TaskTypeName</span>
	
				<input type="date" class="task-due-date" value="@(task.DueDate.HasValue ? task.DueDate.Value.ToString("yyyy-MM-dd") : "")" />


				<a class="task-edit edit-link" href="/admin/courses/task/@task.TaskID">Edit</a>
				<a class="task-edit delete-link" href="/admin/courses/deletetask/@task.TaskID">Delete</a>
			</div>
		  }		
		</div>
	</div>
 }

</div>


<script>

// dialog
$('#dialog').dialog({
    modal: true,
    autoOpen: false,
    height: '350',
    width: '500',
    draggable: true,
    resizeable: true,   
    title: 'Editor'
});

function openTask(taskID) {
	$('#dialog iframe').attr('src','/admin/courses/task/' + taskID);
	$('#dialog').dialog('open');
}
function openUnit(unitID) {
	$('#dialog iframe').attr('src','/admin/courses/unit/' + unitID);
	$('#dialog').dialog('open');
}

$('.unit-edit, .task-edit').click(function(e) {
	e.preventDefault();

	$('#dialog iframe').attr('src', $(this).attr('href'));
	$('#dialog').dialog('open');

	return false;
});


	// save tasks
$('.course-task input').change(function () {
	var el = $(this),
		div = el.closest('.course-task'),
		task = {
			taskid: div.data('taskid'),
			name: div.find('.task-name').val(),
			duedate: div.find('.task-due-date').val(),
		};

	$.ajax({
		url: '/admin/courses/UpdateTask/' + task.taskid,
		data: JSON.stringify( task ),
		type: 'POST',
		success: function (d) {
			if (d.success) {
				console.log('saved task');
				el.effect("highlight");
			} else {
				console.log('error' + d.error)
			}
		},
		error: function (d) {
			console.log('error saving task')
		}
	});
});


// sort units
$('#course-units').sortable('destroy').sortable({
	handle: '.unit-drag-handle',
	axis: 'y',
	update: function (event, ui) {
		startSaveOrder();
	},
	start: cancelSaveOrder
});//.disableSelection();

// sort tasks
$('.course-tasks').sortable('destroy').sortable({
	handle: '.task-drag-handle',
	axis: 'y',
	update: function (event, ui) {
		startSaveOrder();
	},
	start: cancelSaveOrder
});//.disableSelection();


var saveTimeout = null;
function startSaveOrder() {
	cancelSaveOrder();
	saveTimeout = setTimeout(saveOrderChanges, 1000);
}
function cancelSaveOrder() {
	if (saveTimeout != null) {
		clearTimeout(saveTimeout);
		delete saveTimeout;
		saveTimeout = null;
	}
}

function saveOrderChanges() {

	cancelSaveOrder();

	var unitArray = [],
			unit,
			task;

	$('.course-unit').each(function (unitSortOrder, unitElement) {

		// store the position of the group
		unit = {
			unitid: parseInt($(unitElement).data('unitid'), 10),
			//name: $(unitElement).find('.unit-name').val(),
			sortorder: unitSortOrder + 1,
			tasks: []
		};
		unitArray.push(unit);

		$(unitElement).find('.course-task').each(function (taskSortOrder, taskElement) {

			task = {
				unitid: unit.unitid,
				taskid: parseInt($(taskElement).data('taskid'), 10),
				//name: $(taskElement).find('.task-name').val(),
				sortorder: taskSortOrder + 1
			};

			// store the position of the file
			unit.tasks.push(task);

		});
	});

	// save the group order
	console.log('group order', unitArray);
	console.log(JSON.stringify({ units: unitArray }));

	$.ajax({
		url: '/admin/courses/UpdateUnitSorting/@ViewBag.Course.CourseID',
		data: JSON.stringify(unitArray),
		type: 'POST',
		//dataType: 'json',
		success: function (d) {
			if (d.success) {
				console.log('saved order')
			} else {
				console.log('error' + d.error)
			}
		}
		,
		error: function (d) {
			console.log('error saving order')
		}
	});
}



</script>