@model Didache.Unit

@{
	Layout = "DialogLayout.cshtml";
	ViewBag.Title = "Unit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

	
		@Html.HiddenFor(model => model.UnitID)
		@Html.HiddenFor(model => model.CourseID)
		@Html.HiddenFor(model => model.SortOrder)

		
	  <table class="admin-form">
      <tbody>
	

        


       <tr>
		<th>
            @Html.LabelFor(model => model.IsActive)
        </th>
		<td>
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </td>
	   </tr>

       <tr>
		<th>
            @Html.LabelFor(model => model.Name)
        </th>
		<td>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
	   </tr>

       <tr>
		<th>
            @Html.LabelFor(model => model.StartDate)
        </th>
		<td>
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </td>
	   </tr>

       <tr>
		<th>
            @Html.LabelFor(model => model.EndDate)
        </th>
		<td>
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </td>
	   </tr>
	
       <tr>
		<th>
            @Html.LabelFor(model => model.Instructions)
        </th>
		<td>
            @Html.EditorFor(model => model.Instructions)
            @Html.ValidationMessageFor(model => model.Instructions)
        </td>
	   </tr>

        </tbody>
	</table>
	
	<input type="submit" value="Save" />
}

