@model Course

@{
    ViewBag.Title = Model.ToString() + " Users";
}

@*
- add/edit/delete groups
- move students around
- add students
- add graders, builders, students, and faculty
*@

<style>
#student-column{
	width: 420px;
	float: left;
}
#admin-column{
	width: 280px;
	float: right;
}
.role-group {
	margin: 0 0 40px 0;
}

.role-group .user span {
	display: inline-block;
}
.role-group .user .user-id {
	width: 60px;
}
.role-group .user .user-name {
	width: 180px;
}
.role-group .user .course-group {
	width: 100px;
}


.user-remove {
	text-align: right;
	color: Red;
	cursor: pointer;
	width: 20px;
}
	
.user-search-result {
	border: 1px solid #eee;
	background: #eee;
	padding: 5px;
	margin: 0 0 5px 0;
}
.user-search-result:hover {
	border: 1px solid #999;
	background: #f7f7f7;
}
.user-search-result .user-id {
	display: inline-block;
	width: 80px;
}
.user-search-result .add-options span {
	color: #3333ff;
	cursor: pointer;
}

#find-users {
	margin: 0 0 20px 0;
}

</style>

<div class="page-wide">
	<div class="full-column">

@Html.Partial("_CourseHeader", Model)

<input type="hidden" id="CourseID" name="CourseID" value="@(Model != null ? Model.CourseID : 0)" />


	<div id="find-users">
		<h3>Find Users</h3>

		<input type="text" id="user-search-text" /> <input id="user-search-button" type="button" value="Search" />

		<div id="user-search-results">
		</div>

	</div>



	<div id="student-column">

		<div id="students" class="user-group" data-roleid="@((int)CourseUserRole.Student)">
			<h3>Students (<span class="group-count">0</span>)</h3>
			<div class="role-group">
			</div>
		</div>

	</div>
	<div id="admin-column">


		<div id="faculty" class="user-group" data-roleid="@((int)CourseUserRole.Faculty)">
			<h3>Faculty (<span class="group-count">0</span>)</h3>
			<div class="role-group">
			</div>
		</div>

		<div id="editors" class="user-group" data-roleid="@((int)CourseUserRole.Editor)">
			<h3>Editor (<span class="group-count">0</span>)</h3>
			<div class="role-group">		
			</div>
		</div>

		<div id="faciliators" class="user-group" data-roleid="@((int)CourseUserRole.Faciliator)">
			<h3>Faciliators (<span class="group-count">0</span>)</h3>
			<div class="role-group">		
			</div>
		</div>

	</div>

	
	
<select id="CourseUserGroups" style="display: none;">
	<option value="0">-- None --</option>
@foreach (CourseUserGroup group in ViewBag.CourseUserGroups) {
	<option value="@group.GroupID">@group.Name</option>
}
</select>



<div class="clear"></div>


<div id="sync-course">
	<h2>Sync Users</h2>

	<table class="admin-form">
		<tr>
			<th>Session</th>
			<td><input type="text" id="sync-session-code" value="@Model.Session.SessionCode" placeholder="Session" /> <input type="text" id="sync-session-year" value="@Model.Session.SessionYear" placeholder="Year" /></td>
		</tr>
		<tr>
			<th>Course</th>
			<td><input type="text" id="sync-course-code" value="@Model.CourseCode" placeholder="Course Code" /> <input type="text" id="sync-course-section" value="@Model.Section" placeholder="Section" /></td>
		</tr>
		<tr>
			<th>Optional</th>
			<td><input type="text" id="sync-course-hours" placeholder="Hours" /></td>
		</tr>
	</table>

	<input id="sync-course-button" type="button" value="Sync Course with CARS" />

</div>

</div>







</div>


<script>
	jQuery(document).ready(function ($) {

		$('#sync-course-button').click(function () {

			showLoading('Syncing Users...');

			$.ajax({
				url: '/admin/courses/syncusers/' + $('#CourseID').val(),
				data: {
					sessionCode: $('#sync-session-code').val(),
					sessionYear: $('#sync-session-year').val(),
					courseCode: $('#sync-course-code').val(),
					courseSection: $('#sync-course-section').val(),
					courseHours: $('#sync-course-hours').val()
				},
				type: 'post',
				success: function () {
					loadUsers();
				}
			});


		});




		// load all users
		function loadUsers() {

			showLoading('Loading Users...');

			$.ajax({
				url: '/api/GetCourseUsers/' + $('#CourseID').val(),
				success: function (d) {

					hideLoading();

					$('.role-group').empty();

					for (var i = 0, il = d.length; i < il; i++) {
						addUser(d[i], false);
					}
				}
			});
		}
		function addUser(user, prepend) {
			var output = $('.user-group[data-roleid="' + user.RoleID + '"] .role-group'),
				userRow = $(
					'<div class="user" data-userid="' + user.UserID + '">' +
						'<span class="user-id">' + user.UserID + '</span>' +
						'<span class="user-name">' + user.User.SecureFormattedNameLastFirst + ' (<a href="/admin/users/edituser/' + user.UserID + '">edit</a>)</span>' +
						'<span class="user-remove">X</span>' +
					'</div>');

			if (prepend) {
				userRow.prependTo(output);
			} else {
				userRow.appendTo(output);
			}

			// student
			if (user.RoleID == 5) {
				userRow.find('.user-name').after($('#CourseUserGroups').clone().show().addClass('groupid').val(user.GroupID));
			}


			// do count
			updateCounts(output.closest('.user-group'));


			return userRow;

		}

		function updateCounts(group) {
			group.find('.group-count').html(group.find('.user').length);
		}

		// search for users
		$('#user-search-button').click(function () {

			$('#user-search-results').empty();
			showLoading('Searching...');

			$.ajax({
				url: '/api/FindUsers/',
				data: { query: $('#user-search-text').val() },
				success: function (d) {

					hideLoading();

					var html = '',
						user = null;
					for (var i = 0, il = d.length; i < il; i++) {
						user = d[i];
						html +=
							'<div class="user-search-result" data-userid="' + user.UserID + '">' +
								'<span class="user-id">' + user.UserID + '</span>' +
								'<span class="user-name">' + user.FormattedNameLastFirst + '</span>' +
								'<div class="add-options">' +
						//'Add as: ' +
									'<span data-roleid="5">Student</span> | ' +
									'<span data-roleid="3">Faculty</span> | ' +
									'<span data-roleid="4">Editor</span> | ' +
									'<span data-roleid="8">Facilitator</span>' +
								'</div>' +
							'</div>';
					}
					$('#user-search-results').html(html).show();

				}
			});
		});

		// add user to role buttons
		$('#user-search-results').delegate('.add-options span', 'click', function () {

			showLoading('Adding user...');
			$('#user-search-results').hide();

			var roleButton = $(this),
				roleID = roleButton.data('roleid'),
				userID = roleButton.closest('.user-search-result').data('userid');

			$.ajax({
				url: '/admin/courses/UpdateUserInCourse/',
				type: 'POST',
				data: { userID: userID, roleID: roleID, courseID: $('#CourseID').val(), groupID: 0, remove: false },
				success: function (d) {
					console.log(d);

					var userRow = addUser(d, true);
					userRow.effect('highlight');

					updateCounts(roleButton.closest('.user-group'));

					hideLoading();
				}
			});
		});

		// remove user
		$('.user-group').delegate('.user-remove', 'click', function () {
			var removeButton = $(this),
				roleID = removeButton.closest('.user-group').data('roleid'),
				userID = removeButton.closest('.user').data('userid');

			$.ajax({
				url: '/admin/courses/UpdateUserInCourse/',
				type: 'POST',
				data: { userID: userID, roleID: roleID, courseID: $('#CourseID').val(), groupID: 0, remove: true },
				success: function (d) {
					console.log(d);

					var group = removeButton.closest('.user-group');

					

					removeButton.closest('.user').remove();

					updateCounts(group);

				}
			});
		});

		// change group
		$('.user-group').delegate('.groupid', 'change', function () {
			var groupDropDown = $(this),
				groupID = groupDropDown.val(),
				roleID = groupDropDown.closest('.user-group').data('roleid'),
				userID = groupDropDown.closest('.user').data('userid');

			$.ajax({
				url: '/admin/courses/UpdateUserInCourse/',
				type: 'POST',
				data: { userID: userID, roleID: roleID, courseID: $('#CourseID').val(), groupID: groupID, remove: false },
				success: function (d) {
					console.log(d);
					groupDropDown.effect('highlight');
				}
			});
		});



		// start up
		loadUsers();

	});
</script>
