@model Didache.User

@{
    ViewBag.Title = "View";
}

<div style="padding: 20px; background: red;">
	<a href="/loginas.aspx?username=@Model.Username">LOGIN AS: @Model.Username</a>
</div>

<div id="main-column">
    <!--div style="padding: 20px; background: red;">
        <a href="/loginas.aspx?username=@Model.Username">LOGIN AS @Model.Username</a>
    </div-->
    <div class="profile">
        <div class="block-list-header"><h3>@Model.FormattedName</h3></div>
        <div class="block-list">
            <div class="block-list-item">
                <div class="user-info">
                    <div style="float: left; width: 190px;">
	                    <img src="@Model.ProfileImageUrl" alt="@Model.FormattedName" />
                    </div>

                    <div style="float: left; width: 350px;">

			            <dl>
				            <dt>Birthday</dt>
				            <dd>
					            @(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : "") &nbsp;
				            </dd>
				            <dt>From</dt>
				            <dd>
					            @Model.Hometown &nbsp;
				            </dd>
				            <dt>Alma Mater</dt>
				            <dd>
					            @Model.AlmaMater &nbsp;
				            </dd>
				            <dt>Bio</dt>
				            <dd>
					            @Model.Bio &nbsp;
				            </dd>
                            <dt>Ministry Goals</dt>
                            <dd>@Model.MinistryGoals &nbsp;</dd>
                            @if (!Model.Facebook.IsEmpty()) {<dt>Facebook</dt><dd><a href="@Model.Facebook">@Model.Facebook</a></dd>}
                            @if (!Model.Twitter.IsEmpty()) {<dt>Twitter</dt><dd><a href="http://www.twitter.com/@Model.Twitter">@@@Model.Twitter</a></dd>}
                            @if (!Model.Website.IsEmpty()) {<dt>Website</dt> <dd><a href="@(!Model.Website.Contains("http://") ? "http://" + Model.Website : Model.Website)">@Model.Website.Replace("http://","")</a></dd>}

			            </dl>

                    </div>
                </div>
            </div>	
        </div>
    </div>
</div>