@model Didache.User

@{
    ViewBag.Title = Model.SecureName;
}

@section profileimage {
	<div id="profile-large">
		<img src="@Model.ProfileImageUrl" alt="@Model.FormattedName" width="180" />
	</div>
}

<div class="page-narrow">
	<div class="main-column">
		<div class="page-header">
			<h2>@Model.SecureName</h2>
			<h3>@Model.Country</h3>
			@if (Model.UserID == Users.GetLoggedInUser().UserID) {
				<div class="actions">
				<a class="d-button edit" href="/account/editprofile">@Resources.labels.profile_edit_button</a>
				</div>
			}
		</div>

		<h4>@Resources.labels.profile_heading_contactinfo</h4>

		<table class="user-profile">			
			<tr>
				<th>
					@Resources.labels.profile_label_email
				</th>
				<td>
					@if (Users.HasPermission(Model.UserID, Model.EmailSecuritySetting)) {
						@Model.Email
					}
				</td>
			</tr>
			<tr>
				<th>
					@Resources.labels.profile_label_phone
				</th>
				<td>
					@if (Users.HasPermission(Model.UserID, Model.PhoneSecuritySetting)) {
						@Model.Phone
					}
				</td>
			</tr>
			<tr>
				<th>
					@Resources.labels.profile_label_address
				</th>
				<td>
					@if (Users.HasPermission(Model.UserID, Model.AddressSecuritySetting)) {
						@Model.Address1<br />
						@(Model.Address2.IsEmpty() ? "" : @Model.Address2 + "<br />")
						@(Model.City + " " + Model.State + " " + Model.Zip)<br />
						@Model.Country
					}
				</td>
			</tr>
		</table>


		<h4>@Resources.labels.profile_heading_personalinfo</h4>

		<table class="user-profile">
			<tr>
				<th>
					@Resources.labels.profile_label_birthday
				</th>
				<td>
					@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("MMMM d") : "")
				</td>
			</tr>
			@if (!Model.Hometown.IsEmpty()) {
			<tr>
				<th>
					@Resources.labels.profile_label_hometown
				</th>
				<td>
					@Model.Hometown
				</td>
			</tr>
			}		
			<tr>
				<th>
					@Resources.labels.profile_label_biography
				</th>
				<td>
					@Model.Bio
				</td>
			</tr>
		</table>


	</div>
	<div class="sub-column">
	
		<h3>@Resources.labels.profile_heading_socialmedia</h3>
		<ul>
		
			@if (!Model.Facebook.IsEmpty()) {<li><a href="http://facebook.com/@Model.Facebook">facebook.com/@Model.Facebook</a></li>}
			@if (!Model.Twitter.IsEmpty()) {<li><a href="http://twitter.com/@Model.Twitter">twitter.com/@Model.Twitter</a></li>}
			@if (!Model.Website.IsEmpty()) {<li><a href="@(!Model.Website.Contains("http://") ? "http://" + Model.Website : Model.Website)">@Model.Website.Replace("http://","")</a></li>}

		</ul>

	</div>

</div>
