@model Didache.User

@{
	ViewBag.Title = Model.SecureFormattedName;
}

@section profileimage {
	<div id="profile-large">
		<img src="@Model.ProfileImageUrl" alt="@Model.SecureFormattedName" width="180" />
	</div>
}

<div class="page-narrow">
	<div class="main-column">
		<div class="page-header">
			<h2>@Model.SecureFormattedName</h2>
			<h3>@Model.Country</h3>

			@if (Model.UserID == Users.GetLoggedInUser().UserID) {
				<div class="actions">
				<a class="d-button" href="/account/changepassword">@Didache.Resources.labels.profile_changepassword</a>
				<a class="d-button edit" href="/account/editprofile">@Didache.Resources.labels.profile_edit_button</a>
				</div>
			}
		</div>

		<div class="profile-constituencies">
				@if (ViewBag.Degrees != null && ViewBag.Degrees.Count > 0) {
					<div class="profile-constituency">
					@Didache.Resources.labels.profile_constituency_alumni<text>:</text>
					@Html.Raw(String.Join(", ", ((List<Degree>)ViewBag.Degrees).Select(d => d.DegreeEarned + " (" + d.GradYear.ToString() + ")").ToArray()))
					</div>
				}
				@if (ViewBag.Student != null) {
					<div class="profile-constituency">
					@Didache.Resources.labels.profile_constituency_student<text>:</text>
					
					@(((Student)ViewBag.Student).Degree)
					<!-- @(((Student)ViewBag.Student).Campus)<text>,</text> -->
					@(ViewBag.Student.PlannedGradYear > 0 ? ", " + ViewBag.Student.PlannedGradYear: "")
					</div>
				}
				@if (ViewBag.Employees != null && ViewBag.Employees.Count > 0) {
					<div class="profile-constituency">
					@Didache.Resources.labels.profile_constituency_staff
					</div>
				}
			</div>
				


		<h4>@Didache.Resources.labels.profile_heading_contactinfo</h4>

		<table class="user-profile">			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_email
				</th>
				<td>
					@if (Users.HasPermission(Model.UserID, Model.EmailSecuritySetting)) {
						@Model.Email
					}
				</td>
			</tr>
			@*
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_phone
				</th>
				<td>
					@if (Users.HasPermission(Model.UserID, Model.PhoneSecuritySetting)) {
						@Model.Phone
					}
				</td>
			</tr>
			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_address
				</th>
				<td>
					@if (Users.HasPermission(Model.UserID, Model.AddressSecuritySetting)) {
						@Model.Address1<br />
						@(Model.Address2.IsEmpty() ? "" : @Model.Address2 + "<br />")
						@(Model.City + " " + Model.State + " " + Model.Zip)<br />
						@Model.Country
					}
				</td>
			</tr>
			*@
		</table>


		<h4>@Didache.Resources.labels.profile_heading_personalinfo</h4>

		<table class="user-profile">
			@*
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_birthday
				</th>
				<td>
					@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("MMMM d") : "")
				</td>
			</tr>
			@if (!Model.Hometown.IsEmpty()) {
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_hometown
				</th>
				<td>
					@Model.Hometown
				</td>
			</tr>
			}
			*@	
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_biography
				</th>
				<td>
					@Model.Bio
				</td>
			</tr>
		</table>


	</div>
	<div class="sub-column">
	
		<h3>@Didache.Resources.labels.profile_heading_socialmedia</h3>
		<ul>
		
			@if (!Model.Facebook.IsEmpty()) {<li><a href="http://facebook.com/@Model.Facebook">facebook.com/@Model.Facebook</a></li>}
			@if (!Model.Twitter.IsEmpty()) {<li><a href="http://twitter.com/@Model.Twitter">twitter.com/@Model.Twitter</a></li>}
			@if (!Model.Website.IsEmpty()) {<li><a href="@(!Model.Website.Contains("http://") ? "http://" + Model.Website : Model.Website)">@Model.Website.Replace("http://","")</a></li>}

		</ul>

	</div>

</div>
