@model Didache.Session

@{
	ViewBag.Title = (Model != null) ? "Edit " + Model.Name : "New Session";
}

<div class="page-wide">
	<div class="full-column">
		<div class="page-header">
			<h2>@((Model != null) ? "Edit " + Model.Name : "New Session")</h2>
		</div>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

	
	@Html.HiddenFor(model => model.SessionID)
	
    <table class="admin-table">

        
	<tr>
        <th>
            @Html.LabelFor(model => model.IsActive):
        </th>
        <td>
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </td>
	</tr>
	<tr>
        <th>
            @Html.LabelFor(model => model.Program):
        </th>
        <td>
            @Html.EditorFor(model => model.Program)
            @Html.ValidationMessageFor(model => model.Program)
        </td>
	</tr>
	<tr>
       <th>
            @Html.LabelFor(model => model.SessionCode):	
        </th>
        <td>
            @Html.EditorFor(model => model.SessionCode)
            @Html.ValidationMessageFor(model => model.SessionCode)
        </td>
	</tr>
	<tr>
       <th>
            @Html.LabelFor(model => model.SessionYear):
        </th>
        <td>
            @Html.EditorFor(model => model.SessionYear)
            @Html.ValidationMessageFor(model => model.SessionYear)
        </td>
	</tr>
	<tr>
       <th>
            @Html.LabelFor(model => model.Name):
        </th>
        <td>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
	</tr>
	<tr>
       <th>
            @Html.LabelFor(model => model.StartDate):
        </th>
        <td>
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </td>
	</tr>
	<tr>
       <th>
            @Html.LabelFor(model => model.EndDate):
        </th>
        <td>
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </td>
	</tr>
   </table>
	
	<input type="submit" value="Save" class="d-button action" />
}

</div>
</div>
