

<ul id="course-menu">
	<li>
		<a href="/courses/@ViewContext.RouteData.Values["slug"]/dashboard"@(Html.Raw(ViewContext.RouteData.Values["action"].ToString().ToLower() == "dashboard" ? " class=\"selected\"" : ""))>
			<span>@Resources.labels.coursetabs_dashboard </span>
			<dfn>@Resources.labels.coursetabs_dashboard_desc </dfn>
		</a>
	</li>
	<li>
		<a href="/courses/@ViewContext.RouteData.Values["slug"]/schedule"@(Html.Raw(ViewContext.RouteData.Values["action"].ToString().ToLower() == "schedule" ? " class=\"selected\"" : ""))>
			<span>@Resources.labels.coursetabs_schedule</span>
			<dfn>@Resources.labels.coursetabs_schedule_desc</dfn>
		</a>
	</li>
	<li>
		<a href="/courses/@ViewContext.RouteData.Values["slug"]/files"@(Html.Raw(ViewContext.RouteData.Values["action"].ToString().ToLower() == "files" ? " class=\"selected\"" : ""))>
			<span>@Resources.labels.coursetabs_files</span>
			<dfn>@Resources.labels.coursetabs_files_desc</dfn>
		</a>
	</li>
	<li>
		<a href="/courses/@ViewContext.RouteData.Values["slug"]/roster"@(Html.Raw(ViewContext.RouteData.Values["action"].ToString().ToLower() == "roster" ? " class=\"selected\"" : ""))>
			<span>@Resources.labels.coursetabs_roster</span>
			<dfn>@Resources.labels.coursetabs_roster_desc</dfn>
		</a>
	</li>
	<li>
		<a href="/courses/@ViewContext.RouteData.Values["slug"]/assignments"@(Html.Raw(ViewContext.RouteData.Values["action"].ToString().ToLower() == "assignments" ? " class=\"selected\"" : ""))>
			<span>@Resources.labels.coursetabs_assignments</span>
			<dfn>@Resources.labels.coursetabs_assignments_desc</dfn>
		</a>
	</li>
	<li>
		<a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion"@(Html.Raw(HttpContext.Current.Request.Url.ToString().ToLower().IndexOf("/discussion") > 0 ? " class=\"selected\"" : ""))>
			<span>@Resources.labels.coursetabs_discussion</span>
			<dfn>@Resources.labels.coursetabs_discussion_desc</dfn>
		</a>
	</li>
</ul>