@model Didache.UserTaskData

@{
	List<InteractionThread> threads = Interactions.GetInteractionThreads(Model.TaskID);
}



@if (threads.Count > 0) {
<div class="task-interactions">

@foreach (InteractionThread thread in threads) {
	
	if (!thread.IsDeleted || Users.IsAdministratorFacultyOrFacilitator()) {
	
	<div class="task-interaction-thread @(thread.IsDeleted  ? "thread-deleted" : "")" id="thread-@thread.ThreadID" data-threadid="@thread.ThreadID">
		
		<div class="task-interaction-main @(Courses.IsUserFaculty(Model.CourseID , thread.User.UserID) ? "user-faculty" : "") @(Courses.IsUserFacilitator(Model.CourseID , thread.User.UserID) ? "user-facilitator" : "")">
			<div class="task-interaction-userimage">
				<a href="@(thread.User != null ? thread.User.ProfileDisplayUrl : "#")" style="background-image:url(@(thread.User != null ? thread.User.GetProfileImageUrl(40, 40) : ""));"></a>				
			</div>	
			<div class="task-interaction-content">			
				<div class="task-interaction-meta">
					<a class="user-name" href="@(thread.User != null ? thread.User.ProfileDisplayUrl : "#")">
						@(thread.User != null ? thread.User.SecureShortName : "missing") 
					</a>
						@Html.Raw(Courses.IsUserFaculty(Model.CourseID, thread.UserID) ? "<span class=\"usertag\">faculty</span>" : "")
						@Html.Raw(Courses.IsUserFacilitator(Model.CourseID, thread.UserID) ? "<span class=\"usertag\">facilitator</span>" : "")
				
					<span class="post-date">@thread.ThreadDate.ToShortDateString()</span>
					<span class="total-replies d-button">@String.Format(Didache.Resources.labels.interactions_replies, (thread.Posts.Count - 1))</span>
				</div>
				<div class="task-interaction-text">
					@{ InteractionPost firstPost = thread.Posts.FirstOrDefault(); }

					@if (firstPost != null) {
						@Html.Raw(firstPost.PostContentFormatted)

						if (firstPost.FileID > 0) {	
							<div class="post-file">
								File: <a href="@firstPost.File.FileUrl" target="_blank">@firstPost.File.Filename</a>
							</div>
						}
                    }
				</div>
				@if (Users.IsAdministratorFacultyOrFacilitator()) {
				<div class="task-interaction-admin">
					<span class="task-interaction-thread-toggle">@(thread.IsDeleted ? "Restore Thread" : "Delete Thread")</span>
				</div>	
				}

			</div>
		</div>

		<div class="task-interaction-list">
			
			@foreach (InteractionPost post in thread.Posts.Skip(1)) {
	   if (!post.IsDeleted || Users.IsAdministratorFacultyOrFacilitator()) {
				<div class="task-interaction-post @(post.UserID == thread.UserID ? " thread-starter" : "")  @(post.IsDeleted ? "post-deleted" : "") @(Courses.IsUserFaculty(Model.CourseID , post.User.UserID) ? "user-faculty" : "") @(Courses.IsUserFacilitator(Model.CourseID , post.User.UserID) ? "user-facilitator" : "")" id="post-@post.PostID" data-postid="@post.PostID">
					<div class="task-interaction-userimage">
						<a href="@(post.User != null ? post.User.ProfileDisplayUrl : "#")" style="background-image:url(@(post.User != null ? post.User.GetProfileImageUrl(30, 30) : ""));">
						</a>				
					</div>	
					<div class="task-interaction-content">			
						<div class="task-interaction-meta">
							<a class="user-name" href="@(post.User != null ? post.User.ProfileDisplayUrl : "#")">@(post.User != null ? post.User.SecureShortName : "missing")</a>
							@Html.Raw(Courses.IsUserFaculty(Model.CourseID , post.UserID) ? "<span class=\"usertag\">faculty</span>" : "")
							@Html.Raw(Courses.IsUserFacilitator(Model.CourseID, post.UserID) ? "<span class=\"usertag\">facilitator</span>" : "")
				
							
							<span class="post-date">@post.PostDate.ToShortDateString()</span>						
						</div>
						<div class="task-interaction-text">
							@Html.Raw(post.PostContentFormatted)
						</div>
						@if (Users.IsAdministratorFacultyOrFacilitator()) {
						<div class="task-interaction-admin">
							<span class="task-interaction-post-toggle">@(post.IsDeleted ? "Restore Post" : "Delete Post")</span>
						</div>	
						}
					</div>
				</div>	
	   }
   }

			@{ User user = Users.GetLoggedInUser(); }
			<form>
			<div class="add-reply task-interaction-post">
				<div class="task-interaction-userimage">
					<a href="@user.ProfileDisplayUrl">
						<img src="@user.GetProfileImageUrl(30, 30)" alt="@user.SecureShortName" />
					</a>				
				</div>	
				<div class="task-interaction-content">			
					<div class="task-interaction-meta">
						<a class="user-name" href="@user.ProfileDisplayUrl">@user.SecureShortName</a>
					</div>
					<div class="task-interaction-text">
						<textarea class="reply-text required" cols="50" rows="5" ></textarea>	
						<div class="add-reply-button">
							<input type="button" class="d-button action reply-button" value="Add reply" /> 
							<input type="button" class="d-button collapse" value="Close" />
						</div>
					</div>
				</div>
			</div>	
			</form>
	  
		</div>

	</div>
	
	}
}
</div>
} else {

	<p>@Didache.Resources.labels.studentschedule_nopostsyet</p>

}
