@model Didache.UserTaskData

@{
	List<InteractionThread> threads = Interactions.GetInteractionThreads(Model.TaskID);
}


<style>
.task-interactions {
	margin: 10px 0 0 0;
	background: blue;
}
	.task-interaction {
		padding: 5px;
	}
	.task-interaction .header {
		background: #333;
		overflow: hidden;
		color: #fff;
		cursor: pointer;
		padding: 5px;
	}	
	.task-interaction .header .user {
		width: 200px;
		float: left;
		display: block;
	}		
	.task-interaction .header .date {
		width: 150px;
		float: left;
		display: block;
	}			
	.task-interaction .header .total-replies {
		width: 100px;
		float: left;
		text-align: right;
		display: block;
	}				
</style>

<div class="task-interactions">
@foreach (InteractionThread thread in threads) {
	<div class="task-interaction">
		<div class="header">
			<span class="user">@thread.User.FormattedName</span>
			<span class="date">@thread.ThreadDate</span>
			<span class="total-replies">@thread.TotalReplies</span>
		</div>
		<div class="interactions" style="display:none;">
			
		@foreach (InteractionPost post in thread.Posts) {
			<div class="interaction-post">
				<div class="user-info">
					<a href="@post.User.ProfileDisplayUrl">
						<img src="@post.User.ProfileImageUrl" />
						<span class="name">@post.User.FormattedName</span>
					</a>
				</div>
				<div class="post-content">
					@post.PostContentFormatted
				</div>			
			</div>		  
		}
				
		</div>
	</div>
}
</div>

