@model Didache.Models.ChangePasswordModel

@{
    ViewBag.Title = Didache.Resources.labels.profile_changepassword;
}

<div class="page-wide">
	<div class="full-column">
		<div class="page-header">
			<h2>@Didache.Resources.labels.profile_changepassword</h2>
		</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, @Didache.Resources.labels.changepassword_fail)
    <div class="account-box">
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <input type="submit" value="@Didache.Resources.labels.profile_changepassword" />
      
    </div>
}


	</div>
</div>