@model Didache.User

@{
    ViewBag.Title = "Edit";
}
<div id="edit">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.UserID)

		    <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Language)
                </div>
				@Html.DropDownListFor(model => model.Language, new SelectList(new[] {   
																	new { Key = "en-US", Name = "English" }, 
																	new { Key = "es", Name = "Español (Spanish)" }, 
																	new { Key = "ar", Name = "العربية (Arabic)" }, 
																	new { Key = "zh-CN", Name = "汉语[简体字] (Simplified)" }, 
																	new { Key = "zh-TW", Name = "漢語[繁體字] (Traditional)" }
																}, "Key", "Name", ViewBag.Language))
                @Html.ValidationMessageFor(model => model.Language)
            </div>
            <br />
		 
            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NickName)
                </div>
                @Html.EditorFor(model => model.NickName)
                @Html.ValidationMessageFor(model => model.NickName)
            </div>
            <br />
            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Hometown)
                </div>
                @Html.EditorFor(model => model.Hometown)
                @Html.ValidationMessageFor(model => model.Hometown)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.AlmaMater)
                </div>
                @Html.EditorFor(model => model.AlmaMater)
                @Html.ValidationMessageFor(model => model.AlmaMater)
            </div>

            <div class="editor-field textarea">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MinistryGoals)
                </div>
                @Html.TextAreaFor(model => model.MinistryGoals)
                @Html.ValidationMessageFor(model => model.MinistryGoals)
            </div>
    
        <hr />

            <div class="editor-field textarea">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Bio)
                </div>
                @Html.TextAreaFor(model => model.Bio)
                @Html.ValidationMessageFor(model => model.Bio)
            </div>
        <hr />

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Facebook)
                </div>
                @Html.EditorFor(model => model.Facebook)
                @Html.ValidationMessageFor(model => model.Facebook)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Twitter)
                </div>
                @Html.EditorFor(model => model.Twitter)
                @Html.ValidationMessageFor(model => model.Twitter)
            </div>

            <div class="editor-field">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Website)
                </div>
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </div>
  
            <p>
                <input type="submit" value="Save" />
            </p>
    }
</div>
