@model Didache.User

@{
	ViewBag.Title = "Edit";
}

<style>
.upload-photo-label {
	position: relative;
	display: block;
}
.upload-photo-label .upload-photo-text {
	position: absolute;
	display: none;
	background: #000;
	padding: 3px;
	left: 5px;
}
.upload-photo-label:hover .upload-photo-text {
	display: block;
}
#upload-photo-button {
	width: 158px;
	text-align: center;
}
</style>

@section profileimage {
	<div id="profile-large">
		<a href="/account/uploadphoto/" class="upload-photo-label">
			<span  class="upload-photo-text">@Didache.Resources.labels.profile_label_changephoto</span>
			<img src="@Model.ProfileImageUrl" alt="@Model.SecureFormattedName" width="180" />
		</a>

		<a href="/account/uploadphoto/" class="d-button edit" id="upload-photo-button">@Didache.Resources.labels.profile_label_changephoto</a>
	</div>
}


@using (Html.BeginForm()) {
<div id="edit-profile" class="page-narrow">
	<div class="main-column">
		

	  
		<div class="page-header">
			<h2>@Model.SecureFormattedName</h2>
			<h3>@Model.Location</h3>			

			@Html.ValidationSummary(true)	
		
			<div class="actions">
				<input type="submit" class="d-button action" value="@Didache.Resources.labels.profile_save_button" />
			</div>
		</div>

		<div class="message-warning">
			To change your address, phone number, or family information, please visit <a href="https://campus.dts.edu/cgi-bin/student/bioupd.cgi">CampusNet</a>
		</div>
        
	  
		 @Html.HiddenFor(model => model.UserID)
	 

		<h3>@Didache.Resources.labels.profile_heading_personalinfo</h3>

		<table class="user-profile">
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_birthday
				</th>
				<td>
					@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : "")
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.BirthdateSecuritySetting, "SecuritySetting", "BirthdateSecurity")	
				</td>
			</tr>

			<tr>
				<th>
					@Didache.Resources.labels.profile_label_spouse
				</th>
				<td>
					@if (Model.Spouse != null) {
						<a href="@Model.Spouse.ProfileDisplayUrl">@Model.Spouse.SecureFormattedName</a>
					} else if (!Model.SpouseName.IsEmpty()) {
						@Model.SpouseName
					}
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.SpouseSecuritySetting, "SecuritySetting", "SpouseSecurity")	
				</td>
			</tr>
			
			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_children
				</th>
				<td>
					@Model.ChildrenList	
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.ChildrenSecuritySetting, "SecuritySetting", "ChildrenSecurity")	
				</td>
			</tr>


			<tr>
				<th>
					@Didache.Resources.labels.profile_label_work
				</th>
				<td>
					@foreach (WorkplaceWorker worker in new DidacheDb().WorkplaceWorkers.Where(ww => ww.UserID == Model.UserID).ToList()) {
						@worker.Position <text>at</text>
						if (worker.Workplace != null) {
							@worker.Workplace.FullName
						} else {
							@worker.BusinessName				
						}
					}
				</td>
				<td class="security-setting">					
					<select disabled>
						<option>All DTS</option>
					</select>
				</td>
			</tr>
            
			@*
			<tr>
				<th>
					@Html.LabelFor(model => model.Hometown)
				</th>
				<td>
					 @Html.EditorFor(model => model.Hometown)
				</td>
				<td class="security-setting">					
					All DTS
				</td>
			</tr>
			*@

			@*
			<tr>
				<th>
					Spouse
				</th>
				<td>
					(coming)
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.SpouseSecuritySetting, "SecuritySetting", "SpouseSecurity")	
				</td>
			</tr>

			<tr>
				<th>
					Children
				</th>
				<td>
					(coming)
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.ChildrenSecuritySetting, "SecuritySetting", "ChildrenSecurity")	
				</td>
			</tr>
			*@
	
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_biography
				</th>
				<td>
					<textarea name="Bio" style="width:330px;">@Model.Bio</textarea>
				</td>
				<td class="security-setting">		
					@Html.EditorFor(model => model.BiographySecuritySetting, "SecuritySetting", "BiographySecurity")	
				
				</td>
			</tr>
		</table>
	  
		<h3>@Didache.Resources.labels.profile_heading_contactinfo</h3>

		<table class="user-profile">			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_email
				</th>
				<td>
					@Html.EditorFor(model => model.Email)
					@Html.ValidationMessageFor(model => model.Email)	
				</td>
				<td class="security-setting">
					@Html.EditorFor(model => model.EmailSecuritySetting, "SecuritySetting", "EmailSecurity")	
				</td>
			</tr>
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_phone
				</th>
				<td>				
					@Model.Phone
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.PhoneSecuritySetting, "SecuritySetting", "PhoneSecurity")	
				</td>
			</tr>
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_address
				</th>
				<td>
						@Model.Address1<br />
						@(Model.Address2.IsEmpty() ? "" : @Model.Address2 + "<br />")
						@(Model.City + " " + Model.State + " " + Model.Zip)<br />
						@Model.Country
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.AddressSecuritySetting, "SecuritySetting", "AddressSecurity")	
				</td>
			</tr>
		</table>

		<h3>@Didache.Resources.labels.profile_heading_socialmedia</h3>

		<table class="user-profile">			
			<tr>
				<th>
					@Html.LabelFor(model => model.Facebook)
				</th>
				<td>
					@Html.EditorFor(model => model.Facebook)
				</td>
				<td class="security-setting">					
					<select disabled><option>All DTS</option></select>
				</td>
			</tr>
			<tr>
				<th>
					@Html.LabelFor(model => model.Twitter)
				</th>
				<td>
					@Html.EditorFor(model => model.Twitter)
				</td>
				<td class="security-setting">					
					<select disabled><option>All DTS</option></select>
				</td>
			</tr>
			<tr>
				<th>
					@Html.LabelFor(model => model.Website)
				</th>
				<td>
					@Html.EditorFor(model => model.Website)
				</td>
				<td class="security-setting">					
					<select disabled><option>All DTS</option></select>
				</td>
			</tr>
		</table>

		<h3>@Didache.Resources.labels.profile_heading_security</h3>
		<table class="user-profile">			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_coursessecurity
				</th>
				<td>
					@Didache.Resources.labels.profile_label_coursessecurity_description
				</td>
				<td class="security-setting">
					@Html.EditorFor(model => model.ScheduleSecuritySetting, "SecuritySetting", "ScheduleSecurity")			
				</td>
			</tr>
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_picturesecurity
				</th>
				<td>
					@Didache.Resources.labels.profile_label_picturesecurity_description
				</td>
				<td class="security-setting">
					@Html.EditorFor(model => model.PictureSecuritySetting, "SecuritySetting", "PictureSecurity")			
				</td>
			</tr>
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_classmaterequests
				</th>
				<td>
					@Html.CheckBoxFor(model => model.AllowClassmateRequests)
					@Html.LabelFor(model => model.AllowClassmateRequests, "Allow People to Request me as a 'classmate'")
					
				</td>
			</tr>
			@*
			<tr>
				<th>Notifications</th>
				<td>
					Course Interactions<br />
					When a classmate replies to my assignment<br />
					When a classmate replies to an assignment I also commented upon<br />

					Discussion Boards<br />
					When a classmate replies to a thread I started<br />
					When a classmate replies to a thread in which I've participated<br />

					Walls<br />
					When a someone replies to my post<br />
					When a someone replies to a post I also replied to<br />
				</td>
			</tr>
			*@
			@*
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_timezone
				</th>
				<td>
					@Model.TimezoneOffset			
				</td>
			</tr>
			*@
		</table>
	  

		<h3>@Didache.Resources.labels.profile_heading_preferences</h3>
		<table class="user-profile">			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_language
				</th>
				<td>
					@Html.DropDownListFor(model => model.Language, new SelectList(new[] {   
																	new { Key = "en-US", Name = "English" }, 
																	new { Key = "es-ES", Name = "Español (Spanish)" }, 
																	//new { Key = "ar-AR", Name = "العربية (Arabic)" }, 
																	new { Key = "zh-CN", Name = "汉语[简体字] (Simplified)" }, 
																	new { Key = "zh-TW", Name = "漢語[繁體字] (Traditional)" }
																}, "Key", "Name", ViewBag.Language))
					@Html.ValidationMessageFor(model => model.Language)				
				</td>
			</tr>
			</table>
			

		<h3>@Didache.Resources.labels.profile_heading_notifications</h3>
		<table class="user-profile">		
			<tr>
				<th>Course Interactions</th>
				<td>
					@Html.CheckBoxFor(model => model.NotifyInteractionThreadsReplies)
					@Html.LabelFor(model => model.NotifyInteractionThreadsReplies, "Notify me when a student replies to an assignment I posted.")
					<br />
					<span class="example">When you post your assignment, do you want to get an email whenever someone replies?</span>
					<br />
					@Html.CheckBoxFor(model => model.NotifyInteractionPostReplies)
					@Html.LabelFor(model => model.NotifyInteractionPostReplies, "Notify me when a student replies to an assignment I commented on.")
					<br />
					<span class="example">When a classmate posts an assignment, and you comment on it, do you want to be notified when another person comments on it?</span>
					<br />
				</td>
			</tr>

			<tr>
				<th>Public Posts</th>
				<td>
					@Html.CheckBoxFor(model => model.NotifyUserPostReplies)
					@Html.LabelFor(model => model.NotifyUserPostReplies, "Notify me when someone comments on something I posted.")
					<br />
					<span class="example">When you post something, do you want to be notified when another person comments on it?</span>
					<br />
				
					@Html.CheckBoxFor(model => model.NotifyUserPostCommentReplies)
					@Html.LabelFor(model => model.NotifyUserPostCommentReplies, "Notify me when someone comments on a post I also commented on.")
					<br />
					<span class="example">When someone posts something, and you comment on it, do you want to be notified when another person adds a followup comment?</span>
					
				</td>
			</tr>

			@*
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_timezone
				</th>
				<td>
					@Model.TimezoneOffset			
				</td>
			</tr>
			*@
		</table>

	</div>

	<div class="sub-column">
	
		<h3>Instructions</h3>

		<div class="info">
			This page let's you control who can see your information. 
			<strong>All DTS</strong> means any DTS student, staff, faculty, or alumni can see the information.
			<strong>Friends</strong> means only approved students and alumni can see it.
			<strong>Private</strong> means no one can see it.
		</div>

	</div>
</div>

}
