@model Didache.User

@{
	ViewBag.Title = "Edit";
}

@section profileimage {
	<div id="profile-large">
		<img src="@Model.ProfileImageUrl" alt="@Model.SecureFormattedName" width="180" />
	</div>
}


@using (Html.BeginForm()) {
<div id="edit-profile" class="page-narrow">
	<div class="main-column">
		

	  
		<div class="page-header">
			<h2>@Model.SecureFormattedName</h2>
			<h3>@Model.Country</h3>			

			@Html.ValidationSummary(true)	
		
			<div class="actions">
				<input type="submit" class="d-button action" value="@Didache.Resources.labels.profile_save_button" />
			</div>
		</div>

        
	  
		 @Html.HiddenFor(model => model.UserID)
	 

		<h3>@Didache.Resources.labels.profile_heading_personalinfo</h3>

		<table class="user-profile">
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_birthday
				</th>
				<td>
					@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : "")
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.BirthdateSecuritySetting, "SecuritySetting", "BirthdateSecurity")	
				</td>
			</tr>
            
			@*
			<tr>
				<th>
					@Html.LabelFor(model => model.Hometown)
				</th>
				<td>
					 @Html.EditorFor(model => model.Hometown)
				</td>
				<td class="security-setting">					
					All DTS
				</td>
			</tr>
			*@

			@*
			<tr>
				<th>
					Spouse
				</th>
				<td>
					(coming)
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.SpouseSecuritySetting, "SecuritySetting", "SpouseSecurity")	
				</td>
			</tr>

			<tr>
				<th>
					Children
				</th>
				<td>
					(coming)
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.ChildrenSecuritySetting, "SecuritySetting", "ChildrenSecurity")	
				</td>
			</tr>
			*@
	
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_biography
				</th>
				<td>
					<textarea name="Bio" style="width:330px;">@Model.Bio</textarea>
				</td>
				<td class="security-setting">		
					@Html.EditorFor(model => model.BiographySecuritySetting, "SecuritySetting", "BiographySecurity")	
				
				</td>
			</tr>
		</table>
	  
		<h3>@Didache.Resources.labels.profile_heading_contactinfo</h3>

		<table class="user-profile">			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_email
				</th>
				<td>
					@Html.EditorFor(model => model.Email)
					@Html.ValidationMessageFor(model => model.Email)	
				</td>
				<td class="security-setting">
					@Html.EditorFor(model => model.EmailSecuritySetting, "SecuritySetting", "EmailSecurity")	
				</td>
			</tr>
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_phone
				</th>
				<td>				
					@Model.Phone
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.PhoneSecuritySetting, "SecuritySetting", "PhoneSecurity")	
				</td>
			</tr>
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_address
				</th>
				<td>
					<p>To change your address or phone number, please visit <a href="https://campus.dts.edu/cgi-bin/student/bioupd.cgi">CampusNet</a></p>
				</td>
				<td class="security-setting">					
					@Html.EditorFor(model => model.AddressSecuritySetting, "SecuritySetting", "AddressSecurity")	
				</td>
			</tr>
		</table>

		<h3>@Didache.Resources.labels.profile_heading_socialmedia</h3>

		<table class="user-profile">			
			<tr>
				<th>
					@Html.LabelFor(model => model.Facebook)
				</th>
				<td>
					@Html.EditorFor(model => model.Facebook)
				</td>
				<td class="security-setting">					
					<select disabled><option>All DTS</option></select>
				</td>
			</tr>
			<tr>
				<th>
					@Html.LabelFor(model => model.Twitter)
				</th>
				<td>
					@Html.EditorFor(model => model.Twitter)
				</td>
				<td class="security-setting">					
					<select disabled><option>All DTS</option></select>
				</td>
			</tr>
			<tr>
				<th>
					@Html.LabelFor(model => model.Website)
				</th>
				<td>
					@Html.EditorFor(model => model.Website)
				</td>
				<td class="security-setting">					
					<select disabled><option>All DTS</option></select>
				</td>
			</tr>
		</table>

		<h3>@Didache.Resources.labels.profile_heading_security</h3>
		<table class="user-profile">			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_coursessecurity
				</th>
				<td>
					@Didache.Resources.labels.profile_label_coursessecurity_description
				</td>
				<td class="security-setting">
					@Html.EditorFor(model => model.ScheduleSecuritySetting, "SecuritySetting", "ScheduleSecurity")			
				</td>
			</tr>
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_picturesecurity
				</th>
				<td>
					@Didache.Resources.labels.profile_label_picturesecurity_description
				</td>
				<td class="security-setting">
					@Html.EditorFor(model => model.PictureSecuritySetting, "SecuritySetting", "PictureSecurity")			
				</td>
			</tr>
			@*
			<tr>
				<th>Notifications</th>
				<td>
					Course Interactions<br />
					When a classmate replies to my assignment<br />
					When a classmate replies to an assignment I also commented upon<br />

					Discussion Boards<br />
					When a classmate replies to a thread I started<br />
					When a classmate replies to a thread in which I've participated<br />

					Walls<br />
					When a someone replies to my post<br />
					When a someone replies to a post I also replied to<br />
				</td>
			</tr>
			*@
			@*
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_timezone
				</th>
				<td>
					@Model.TimezoneOffset			
				</td>
			</tr>
			*@
		</table>
	  

		<h3>@Didache.Resources.labels.profile_heading_preferences</h3>
		<table class="user-profile">			
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_language
				</th>
				<td>
					@Html.DropDownListFor(model => model.Language, new SelectList(new[] {   
																	new { Key = "en-US", Name = "English" }, 
																	new { Key = "es", Name = "Español (Spanish)" }, 
																	new { Key = "ar", Name = "العربية (Arabic)" }, 
																	new { Key = "zh-CN", Name = "汉语[简体字] (Simplified)" }, 
																	new { Key = "zh-TW", Name = "漢語[繁體字] (Traditional)" }
																}, "Key", "Name", ViewBag.Language))
					@Html.ValidationMessageFor(model => model.Language)				
				</td>
			</tr>
			@*
			<tr>
				<th>Notifications</th>
				<td>
					Course Interactions<br />
					When a classmate replies to my assignment<br />
					When a classmate replies to an assignment I also commented upon<br />

					Discussion Boards<br />
					When a classmate replies to a thread I started<br />
					When a classmate replies to a thread in which I've participated<br />

					Walls<br />
					When a someone replies to my post<br />
					When a someone replies to a post I also replied to<br />
				</td>
			</tr>
			*@
			@*
			<tr>
				<th>
					@Didache.Resources.labels.profile_label_timezone
				</th>
				<td>
					@Model.TimezoneOffset			
				</td>
			</tr>
			*@
		</table>

	</div>

	<div class="sub-column">
	
		<h3>Instructions</h3>

		<div class="info">
			This page let's you control who can see your information. 
			<strong>All DTS</strong> means any DTS student, staff, faculty, or alumni can see the information.
			<strong>Friends</strong> means only approved students and alumni can see it.
			<strong>Private</strong> means no one can see it.
		</div>

	</div>
</div>

}
