@model Didache.Models.LogOnModel

@{
	ViewBag.Title = Didache.Resources.labels.login_login;
}

<div class="page-wide">
	<div class="full-column">
		<div class="page-header">
			<h2>@Didache.Resources.labels.login_login</h2>
		</div>



@Html.ValidationSummary(false, @Didache.Resources.labels.login_unsuccessful)

@using (Html.BeginForm()) {
		
		<div class="account-box login-box">
	
            <div class="editor-label">
                <label for="username">@Didache.Resources.labels.login_username</label>
            </div>
            <div class="editor-field">
                <input type="text" id="username" name="username" value="@(Model != null ? Model.UserName : "")" />			
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
	
            <div class="editor-label">
                <label for="password">@Didache.Resources.labels.login_password</label>
            </div>	
            <div class="editor-field">
                <input type="password" id="password" name="password" value="@(Model != null ? Model.Password : "")" />			
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="login-buttons">
				
				<div class="login-remember">
					<input type="checkbox" id="RememberMe" name="RememberMe" @(Model != null && Model.RememberMe ? "checked=checked" : "") value="true" />
					<label for="RememberMe">@Didache.Resources.labels.login_rememberme</label>				
				</div>

				<input type="submit" id="submit" class="d-button action" value="@Didache.Resources.labels.login_login" />

            </div>	

			<a href="http://www.dts.edu/account/resetpassword">@Didache.Resources.labels.login_forgotpassword</a>

			
		</div>
	
	<div class="login-message">
		@Didache.Resources.labels.login_passwordmessage
	</div>
}





	</div>

</div>

